
{% extends 'sistema/base_site.html' %}
{% load static %}
{% block titulo %}
    Agregar Asistencia
{% endblock titulo %}
{% block body %}
    <form method="POST">
    <form>
        {% csrf_token %}
        <div class="col-lg-11">
        <div class="card">
            <form method="POST" class="form-horizontal">
             <div class="card-body card-block">
                <div class="card-body">
                    
                    <div class="row form-group">
                        <div class="col col-md-2"><label for="text-input"  class=" form-control-label" > Fecha (*)</label></div>
                        <div class="col col-md-4"><input required type="date" id="date-input" name="fecha" placeholder="dd/mm/aaaa" class="form-control"></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Reunion (*)</label></div>
                        <div class="col col-md-4"><select id="reunion" name='reunion' class="form-control" required>
                            <option selected value=None> --------------</option>
                            {% for reunion in reunion_form %}
                                <option value='{{reunion.id_reunion}}'>{{reunion.nombre}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <table id="tabla-miembros" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Presente <input type="checkbox" name="all" id="select-all" /></label></th>
                                </tr>
                            </thead>
                            <tbody id="mi-tabla"> 
                                {% comment %} {% for miembro in miembro_form %}
                                    <tr>
                                        <td></td>
                                        <td>{{miembro.nombre}}</td>
                                        <td>{{miembro.apellido}}</td>
                                        <td><input type="checkbox" name="check[]" value="{{miembro.dni}}" /></td>
                                    </tr>
                                {% endfor %} {% endcomment %}
                                
                            </tbody>
                        </table>
                    </div>
                    <button type = "submit">Crear</button>
                </div>
                </div>
            </form>
        </div>    
        </div>


    </form>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $('#reunion').change(function(){
            console.log('oliii');
            var rn = $(this).val();
            console.log(rn);
            $.ajax({
                url: '/sistema/GrupoTable/',
                data: {
                    'grupo': rn,
                },
                dataType: 'json',
                success: function(data) {
                    var html = "";
                    
                    for (var i = 0; i < data[0]['miembro'].length; i++) {
                        html += "<tr>"    
                        html += "<td>" + data[0]['miembro'][i].nombre + "</td>";
                        html += "<td>" + data[0]['miembro'][i].apellido + "</td>";
                        html += "<td>" + "<input type='checkbox' name='check[]' value="+data[0]['miembro'][i].dni+ "/>" + "</td>";
                        html += "</tr>"
                    }
                    $('#mi-tabla').html(html);
                }
            })
        });
    </script>
    <script src="{% static 'assets/js/asistencias.js'%}"></script>
{% endblock body %}
