
{% extends 'sistema/base_site.html' %}
{% load static %}
{% block titulo %}
    Agregar Asistencia
{% endblock titulo %}
{% block body %}
    <form method="POST">
    <form>
        {% csrf_token %}
        <div class="col-lg-11">
        <div class="card">
            <div class="card-header" data-step="1" data-intro="Paso 1: Bienvenidos al tutorial para agregar asistencias">
                <strong class="card-title">Listado de Reuniones</strong>
                <a href="JavaScript:Void(0);"><i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i></a>
            </div>
            <form method="POST" class="form-horizontal">
            <div class="card-body card-block">
                <div class="card-body">
                    {% if messages %}
                        <div class="col-md-12">
                            <ul class="messages">
                            {% for message in messages %}
                                <div class="alert alert-danger">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                </div>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="row form-group" data-step="2" data-intro="Paso 2: Debe ingresar la fecha en la que se dio la reunion">
                        <div class="col col-md-2"><label for="text-input"  class=" form-control-label" > Fecha (*)</label></div>
                        <div class="col col-md-4"><input required  type="date" id="date-input" name="fecha" placeholder="dd/mm/aaaa" class="form-control"></div>
                    </div>

                    <div class="row form-group" data-step="3" data-intro="Paso 3: Debe ingresar la reunion en la que quiere marcar la asistencia" >
                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Reunion (*)</label></div>
                        <div class="col col-md-4"><select id="reunion" name='reunion' class="form-control" required>
                            <option selected value=None> --------------</option>
                            {% for reunion in reunion_form %}
                                <option value='{{reunion.id_reunion}}'>{{reunion.nombre}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>

                    <div class="row form-group" data-step="4" data-intro="Paso 4: Debe indicar si hubo reunion, si usted asistio seleccione si">
                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Hubo Reunion? (*)</label></div>
                        <div class="col col-md">
                            <div class="form-check">
                                <div class="radio">
                                    <label for="radio1" class="form-check-label ">
                                        <input type="radio" id="ast-e1" name="ast-encargado" value="True" class="ast-eorm-check-input">Si
                                    </label>
                                        </div>
                                <div class="radio">
                                    <label for="radio2" class="form-check-label ">
                                        <input type="radio" id="ast-e2" name="ast-encargado" value="False" class="form-check-input">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div  id="tbl">
                        <table id="tabla-miembros" class="display" style="width:100%" >
                            <thead data-step="5" data-intro="Paso 5: A continuacion tendra una lista de miembros de esa reunion debe seleccionar a los que ASISTIERON">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th data-step="6" data-intro="Paso 6: Si asistieron todos puede seleccionar esta opcion">Presente<input type="checkbox" name="all" id="select-all" /></label></th>
                                </tr>
                            </thead>
                            <tbody id="mi-tabla"> 
                                {% comment %} {% for miembro in miembro_form %}
                                    <tr>
                                        <td></td>
                                        <td>{{miembro.nombre}}</td>
                                        <td>{{miembro.apellido}}</td>
                                        <td><input type="checkbox" name="check[]" value="{{miembro.dni}}" /></td>
                                    </tr>
                                {% endfor %} {% endcomment %}
                                
                            </tbody>
                        </table>
                    </div>
                    <div align="right" class="card-body" data-step="7" data-intro="Paso 7: Una vez cargados todos los datos  puede presionar Confirmar ">
                        <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                    </div>
                </div>
                </div>
            </form>
        </div>    
        </div>


    </form>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    
    <script>
        $(function(){
            $('[type="date"]').prop('max', function(){
                return new Date().toJSON().split('T')[0];
            });
            $('#tabla-miembros').DataTable( {
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros",
                    "zeroRecords": "No hay registros encontrados - Lo Sentimos =( ",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ registros en Total)",
                    "search":"Buscar",
                },
            });
        });

    </script>
    <script>
        $('#reunion').change(function(){
            console.log('oliii');
            var rn = $(this).val();
            console.log(rn);
            var t = $('#tabla-miembros').DataTable();
            $.ajax({
                url: '/sistema/GrupoTable/',
                data: {
                    'grupo': rn,
                },
                dataType: 'json',
                success: function(data) {
                    var html = "";
                    t.clear().draw();
                    for (var i = 0; i < data[0]['miembro'].length; i++) {
                        /*html += "<tr>"    
                        html += "<td>" + data[0]['miembro'][i].nombre + "</td>";
                        html += "<td>" + data[0]['miembro'][i].apellido + "</td>";
                        html += "<td>" + "<input type='checkbox' name='check[]' value="+data[0]['miembro'][i].dni + ">"+"</td>";
                        html += "</tr>"*/
                        t.row.add( [
                                data[0]['miembro'][i].apellido,
                                data[0]['miembro'][i].nombre,
                                "<input type='checkbox' name='check[]' value="+ data[0]['miembro'][i].dni + ">",
                        ] ).draw( false );
                    }
                    //$('#mi-tabla').html(html);
                }
            })
        });
    </script>
    <script>
        $('#ast-e1').change(function(){
            console.log($(this).val());
            var vino = $(this).val();
            if(vino == 'True'){
                $('#tbl').show();
            }
        });
        $('#ast-e2').change(function(){
            console.log($(this).val());
            var vino = $(this).val();
            if(vino == 'False'){
                $('#tbl').hide();
            }
        });
    </script>
    <script src="{% static 'assets/js/asistencias.js'%}"></script>
{% endblock body %}
