{% extends 'sistema/base_site.html' %}
{% block titulo %}
Responder Encuesta
{% endblock titulo %}
{% block body %}
<script src="http://code.jquery.com/jquery-latest.js"></script>

<form method="POST">
    <script>
        function myFunction(){
            var pr = $('#oculto').val();
            $.ajax({
                url: '/sistema/opcionesList',
                data: {
                    'pr': pr,
                },
                dataType: 'json',
                success: function(data) {
                    var html = "";
                    var tipo= data[0]['pregunta']['tipo'];
                    if(tipo==1){
                        $('#add').append('<div required class="row form-group"> <div class="col col-md-4"><label class=" form-control-la bel">'+data[0]['pregunta']['descripcion']+'</label></div> <textarea name="'+pr+'" id="rsp" cols="30" rows="10"></textarea></div>')
                    }
                    if(tipo==2){
                        $('#add').append('<div class="row form-group"> <div class="col col-md-4"><label class=" form-control-label">'+data[0]['pregunta']['descripcion']+'</label></div> <div class="radio" id="add-radio"></div></div>')
                        for (var i = 0; i < data.length; i++) {
                            var text = data[i].opcion;
                            $('#add-radio').append(' <input required  value="'+text+'" name="'+pr+'"type="radio"/> ' + text +'</br>' )
                        }
                        $("#add-radio").attr("id",pr);
                    }
                    if(tipo==3){
                        $('#add').append('<div class="row form-group"> <div class="col col-md-4"><label class=" form-control-label">'+data[0]['pregunta']['descripcion']+'</label></div> <div class="radio" id="add-check"></div></div>')
                        for (var i = 0; i < data.length; i++) {
                        var text = data[i].opcion;
                        $('#add-check').append('<input required  value="'+text+'" name="check[]" type="checkbox" /> ' + text + '<br />');
                        }
                    }
                }
                /*weno la idea es ponerle como name el id de la preguntita, entonces en el request.POST le llamo por ese id*/
            })
        };
    </script>
    <div class="col-lg-11">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <strong>Planilla para Responder </strong> Encuentas - Reunion: {{reunion.nombre}}
            </div>

            <form method="POST" class="form-horizontal">
                <div class="col col-md-12" id="add"> 
                    <select id="oculto" class="form-control" name='tipo' required>
                        {% for pregunta in preguntas %}
                            <option selected value="{{pregunta.id_pregunta}}">{{pregunta.id_pregunta}}</option>
                            <script>myFunction()</script>
                        {% endfor %}
                    </select>
                </div>

                    <div class="card">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                        </div>
                    </div>
                
            </form>
        </div>
    </div>
</form>
    <script>
        $('#rango').change(function(){
            console.log($(this).val());
            //$('#rango').tooltip({'trigger':'focus', 'title': 'Password tooltip'});
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#oculto').hide();
            $('#main-menu').remove(); 
            $('#left-panel').remove();
            $('#body').prop('class', "open");
        });
    </script> 
    

    
{% endblock body %}