{% extends 'sistema/base_site.html'%}
{% load static %}
{% block body%}
    <form method="POST">
        {% csrf_token %}
        <div class="col-lg-11">
                        <div class="card">
                            <div class="card-header">
                                <strong>Planilla de Registro de </strong> Miembros
                            </div>
                            <form method="POST" class="form-horizontal">
                            
                                 <div class="card-body card-block">

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nº Documento (*)</label></div>
                                        <div class="col col-md-3"><input required type="text" id="dni" name="dni"  min ="1" placeholder="" class="form-control"><small class="form-text text-muted"></small></div>
                                    </div>

                                   

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nombre (*)</label></div>
                                        <div class="col-md-4"><input required type="text" id="text-input" style="uppercase" name="nombre" placeholder="" class="form-control" onkeypress="return Solo_Texto(event);"><small class="form-text text-muted"></small></div>
                                        <div><label for="text-input" class=" form-control-label">Apellido (*)</label></div>
                                        <div class="col col-md-3"><input required type="text" id="text-input" style="uppercase" name="apellido" placeholder="" class="form-control" onkeypress="return Solo_Texto(event);"><small class="form-text text-muted"></small></div>
                                        
                                        
                                    </div>

                                    {% if messages %}
                                        <div class="col-md-12">
                                        <ul class="messages">
                                            {% for message in messages %}

                                            <div class="alert alert-danger">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                            </div>

                                            {% endfor %}
                                        </ul>
                                        </div>
                                    {% endif %}

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Fecha de Nacimiento (*)</label></div>
                                        <div class="col-12 col-md-4"><input required type="date" id="fecha"  name="fecha_nacimiento" placeholder="dd/mm/aaaa" class="form-control"><small class="form-text text-muted"></small></div>
                                    </div>
                                    
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Estado_Civil (*)</label></div>
                                        <div class="col col-md-4"><select name="estado_civil" id="estado_civil" class="form-control">
                                            {% for estado in estado_civil_form %}
                                                <option value={{estado.id_estado}}>{{estado.estado}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>


                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="email-input" class=" form-control-label">Email</label></div>
                                        <div class="col-12 col-md-9"><input  type="email" id="email-input" name="correo" placeholder="" class="form-control"><small class="form-text text-muted">Example@example.com</small></div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nº Hijos (*)</label></div>
                                        <div class="col-12 col-md-4"><input required type="text" min="0" id="text-input" name="cant_hijo" placeholder="" class="form-control"><small class="form-text text-muted"></small></div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label class="form-control-label">Trabaja (*)</label></div>
                                            <div class="col col-md">
                                                <div class="form-check">
                                                    <div class="radio" required>
                                                        <label for="radio1" class="form-check-label ">
                                                            <input type="radio" id="Si" name="trabaja" value="True" class="form-check-input">Si
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label for="radio2" class="form-check-label ">
                                                            <input type="radio" id="No" name="trabaja" value="False" class="form-check-input">No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div><label class="form-control-label">Sexo (*)</label></div>
                                            <div class="col col-md">
                                                <div class="form-check">
                                                    <div class="radio" required>
                                                        <label for="radio1" class="form-check-label ">
                                                            <input type="radio" id="F" name="sexo" value="Femenino" class="form-check-input">Femenino
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label for="radio2" class="form-check-label ">
                                                            <input type="radio" id="M" name="sexo" value="Masculino" class="form-check-input">Masculino
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    
                                    <br>
                                    <strong>TELEFONO</strong>
                                    <br><br>
                                    <div class="row form-group">   
                                        <div class ="col col-md-3"><label for="select" class="form-control-label">Tipo de Telefono</label></div>
                                            <div class="col-12 col-md-4">
                                                <select id="select" name='tipo' class="form-control">
                                                    <option value="Movil">Movil</option>
                                                    <option value="Fijo">Fijo</option>
                                                </select>
                                            </div>
                                        <div class ="col col-md-1"><label for="select" class="form-control-label">Empresa</label></div>
                                            <div class="col-12 col-md-4">
                                                <select id="select" name='empresa' class="form-control">
                                                    <option value="Claro">Claro</option>
                                                    <option value="Personal">Personal</option>
                                                    <option value="Movistar">Movistar</option>
                                                    <option value="Tuenti">Tuenti</option>
                                                    <option value="Otro">Otro</option>
                                                </select>
                                            </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-12 col-md-3"><label for="text-input" class=" form-control-label">Prefijo</label></div>
                                        <div class="col col-md-4"><input type="text" id="text-input" min="0" name="prefijo" placeholder="" class="form-control"><small class="form-text text-muted"></small></div>
                                        <div class="col col-md-1"><label for="text-input" class=" form-control-label">Nº Telefono</label></div>
                                        <div class="col col-md-4"><input type="text" id="text-input" min="0" name="numero" placeholder="" class="form-control"><small class="form-text text-muted"></small></div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label class="form-control-label">Whatsapp</label></div>
                                            <div class="col col-md">
                                                <div class="form-check">
                                                    <div class="radio">
                                                        <label for="radio1" class="form-check-label ">
                                                            <input type="radio" id="Si" name="whatsapp" value="True" class="form-check-input">Si
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label for="radio2" class="form-check-label ">
                                                            <input type="radio" id="No" name="whatsapp" value="False" class="form-check-input">No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                       
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label class="form-control-label">Telefono De concatco</label></div>
                                        <div class="col col-md-4"><select id="select-miembro"  class="form-control">
                                            <option selected value=None> --------------</option>
                                            {% for miembroo in telefono_contacto_form %}
                                                    <option name='miembro'value={{miembroo.dni}}>{{miembroo.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </div>

                                    <br>
                                    <strong>DOMICILIO</strong>
                                    <br><br>

                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Provincia (*)</label></div>
                                        <div class="col col-md-4"><select id="select-provincia" name='provincia' class="form-control" required>
                                            <option selected> --------------</option>
                                            {% for provincia in provincia_form %}
                                                    <option value='{{provincia.provincia}}'>{{provincia.provincia}}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </div>    

                                    <div class="row form-group">
                                        
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Localidad (*)</label></div>
                                        <div class="col col-md-4"><select id="select-localidad" name='localidad' class="form-control" required>
                                            {% comment %}{% for localidad in localidad_form %}
                                                    <option value='{{localidad.localidad}}'>{{localidad.localidad}}</option>
                                            {% endfor %}
                                            {% endcomment %}
                                            </select>
                                        </div>

                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Barrio (*)</label></div>
                                        <div class="col col-md-4"><select id="select-barrios" name='barrio' class="form-control" required>
                                            <!--{% for barrio in barrio_form %}
                                                    <option value='{{barrio.barrio}}'>{{barrio.barrio}}</option>
                                            {% endfor %}-->
                                            </select>
                                        </div>
                                        
                                    </div>
                                    

                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Calle (*)</label></div>
                                        <div class="col col-md-5"><input required type="text" id="text-input" min="0" name="calle" placeholder="" class="form-control"></small></div>
                                        <div><label for="text-input" class=" form-control-label">Nº (*)</label></div>
                                        <div class="col col-md-2"><input required type="text" id="text-input" name="nro" min="0" placeholder="" class="form-control"><small class="form-text text-muted"></small></div>
                                        <div><label for="text-input" class=" form-control-label">Mz</label></div>
                                        <div class="col col-md-2"><input type="text" id="text-input" name="mz" placeholder="" min="0" class="form-control"></small></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Departamento</label></div>
                                        <div class="col col-md-2"><input type="text" id="text-input" name="departamento" placeholder="" class="form-control"></small></div>
                                        <div class="col col-md-1"><label for="text-input" class=" form-control-label">Piso</label></div>
                                        <div class="col col-md-2"><input type="text" id="text-input" name="piso" placeholder="" class="form-control"></small></div>
                                    </div>
                                    
                                    <br>
                                    <strong>HORARIO DISPONIBLE</strong>
                                    <br><br>
                                    {% if horario_form  %}
                                        {% for field in horario_form %}
                                            <div class="row form-group">
                                                <div class="col col-md-2"><label for="{{field.id_for_label}}" class=" form-control-label" >{{field.html_name}} (*)</label></div>
                                                <div class="col col-md-4">{{field}}</div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    

                                </div>

                            </form>
                               
                            <div class="card">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="reset" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Limpiar
                                </button>
                            </div>
                        </div>
        </div>´
    </form>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script src="{% static 'assets/js/rerecustom.js'%}"></script>

    

    <script>
        $(document).ready(function(){
           $("#dni").change(function () {
             var dni = $(this).val();
             $.ajax({
               url: '{% url "sistema:validarMiembro" %}',
               data: {
                 'dni': dni
               },
               dataType: 'json',
               success: function (data) {
                 if (data.is_taken) {
                   alert("Este miembro ya existe");
                 }
               }
             });
           });
       });
    </script>
    <script>
        $(document).ready(function(){
           $("#fecha").change(function () {
             var fecha = $(this).val();
             var f1=new Date(fecha);
             var f2 = new Date();
             if(f1 > f2){
                alert("fecha de nacimiento incorrecta");
                $("#fecha").val('')
             }
             /*$.ajax({
               url: '{% url "sistema:validarMiembro" %}',
               data: {
                 'fecha': fecha
               },
               dataType: 'json',
               success: function (data) {
                 if (data.is_taken) {
                   alert("fecha incorrecta");
                 }
               }
             });*/
           });
       });
    </script>
{% endblock body%}