{% extends 'sistema/base_site.html'%}
{% load static %}
{% block body%}
    <form method="POST">
        {% csrf_token %}
        <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Planilla de Registro de </strong> Miembros
                            </div>
                            <form method="POST"></form>
                                {{miembro_form.as_p}}
                            <div class="card">
                                <div class="card-body">
                                    <!--<button type="button" class="btn btn-primary btn-sm">Primary</button>-->
                                    <!--<button type="button" class="btn btn-secondary btn-sm">Secondary</button>-->
                                    <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                                    <!--<button type="button" class="btn btn-warning btn-sm">Warning</button>-->
                                    <!--<button type="button" class="btn btn-danger btn-sm">Danger</button>-->
                                    <!--<button type="button" class="btn btn-link btn-sm">Link</button>-->
                                </div>
                            </div>
                            </div>
                            <div class="card-footer">
                                <button type="reset" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Limpiar
                                </button>
                            </div>
                        </div>
    </form>

{% endblock body%}