{% extends 'sistema/base_site.html'%}
{% load static %}
{% block titulo%}
    Crear Grupo
{% endblock titulo%}
{% block body%}
    <script>
        function editar(){
            var enc = $('#enc').val();
            console.log('entre '+ enc);
            $("#encargado option[value="+ enc +"]").attr("selected",true);
        }
    </script>
    <form class="form" method="POST">
        {% csrf_token %}
        <div class="col-lg-11">
                        <div class="card">
                            <div class="card-header" data-step="1" data-intro="Paso 1: Bienvenidos al tutorial para crear grupos, los campos con '(*)' son obligatorios" >
                                <strong>Planilla de Registro de </strong> Grupos
                                <a href="JavaScript:Void(0);"><i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i></a>
                            </div>
                            <form class="form" method="POST" class="form-horizontal">
                            <div class="card-body card-block">
                                {% if messages %}
                                    <div class="col-md-12">
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <div class="alert alert-danger">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                                </div>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                                <div class="row form-group" data-step="2" data-intro="Paso 2: Debe ingresar el nombre del grupo, este nombre no debe ser repetido, en caso exista otro grupo con el mismo nombre se le notificara">
                                    <div class="col-md-3"><label for="text-input">Nombre del Grupo (*)</label></div>
                                    <div class="col-md-5">{{grupo_form.nombre}}</div>
                                </div>

                                <div class="row form-group" data-step="3" data-intro="Paso 3: Debe seleccionar que usuario es el encargado del grupo">
                                    <div class="col-md-3"><label for="text-input">Encargado(*)</label></div>
                                    <div class="col-md-5">
                                        <input hidden id="enc" type="text" value="{{encargado}}">
                                        <select required id="encargado" class="form-control" name="encargado">
                                            <option value="null"> ------------</option>
                                            {% for usuario  in usuarios %}
                                                <option  value='{{usuario.id}}'>{{usuario.miembro}}</option>
                                            {% endfor %}
                                        </select>
                                        <script>editar()</script>
                                        
                                    </div>
                                </div>
                                
                                <div class="row form-group" data-step="4" data-intro="Paso 4: Debe seleccionar para que personas es el grupo, por ejemplo: si es un grupo de mujeres seleccione 'Femenino'">
                                    <div class="col-md-3"><label for="text-input">Sexo de los Asistentes(*)</label></div>
                                    <div class="col-md-5">{{grupo_form.sexo}}
                                        {% comment %} <select id="sexo" class="form-control filtro" name="sexo">
                                            <option value=""> ------------</option>
                                            <option value='Femenino'>Femenino</option>
                                            <option value='Masculino'>Masculino</option>
                                            <option value='Ambos'>Ambos</option>
                                        </select> {% endcomment %}
                                    </div>
                                </div>

                                <br>
                                    <div class="col-md-3"><strong>EDAD DE LOS MIEMBROS</strong></div>
                                <br>
                                <div class="row form-group" data-step="5" data-intro="Paso 5: Debe indicar el rango etario del grupo">
                                    <div class="col-md-3"><label id="edad-desde" for="text-input">Desde (*)</label></div>
                                    <div class="col-md-3">{{grupo_form.desde}}</div>
                                    <div class="col-md-1"><label id="edad-hasta" for="text-input">Hasta(*)</label></div>
                                    <div class="col-md-3">{{grupo_form.hasta}}</div>
                                </div>
                                <br>
                                <div class="row form-group">
                                    <div class="col-md-3"><label id="capacidad" for="text-input">Capacidad Maxima del Grupo (*)</label></div>
                                    <div class="col-md-3">{{grupo_form.capacidad}}</div>
                                </div>
                                <br>
                                    <div class="col-md-5"><strong>MIEMBROS</strong></div>
                                <br>

                                <div class="row form-group">
                                    <div class="col-md-3"><label for="text-input"></label></div>
                                    <div class="col-md-12">
                                    <table name="miembro" id="tablitax" class="table table-striped table-bordered">
                                        <thead data-step="6" data-intro="Paso 6:Una vez seleccionado el sexo y el rango etario puede seleccionar los miembros, lo puede buscar si conoce su nombre escribiedo">
                                            <tr>
                                                <th>Apellido</th>
                                                <th>Nombre</th>
                                                <th data-step="7" data-intro="Paso 7: Si desea agregar a todos puede seleccionar aqui"><input type="checkbox" name="all" id="select-all" /></label></th>
                                            </tr>
                                        </thead>
                                        <tbody id="mi-tabla" name="miembro">
                                            {% if grupo_form.miembro %}
                                                {% for miembro in todos%}
                                                    <tr>
                                                        <td>{{miembro.apellido}}</td>
                                                        <td>{{miembro.nombre}}</td>
                                                        {% if miembro in miembros %}
                                                            <td><input checked type="checkbox" name="miembro" value="{{miembro.dni}}" /></td>
                                                        {% else %}
                                                            <td><input type="checkbox" name="miembro" value="{{miembro.dni}}" /></td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    </div>
                                    <div id='oculto'>
                                        <select name="lista" id="lista" multiple="multiple">
                                            {% if grupo_form.miembro %}
                                                {% for miembro in todos%}
                                                    {% if miembro in miembros %}
                                                        <option selected name='lista[]' value="{{miembro.dni}}"> {{miembro.dni}} </option>;
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="card" align="right">
                                    <div class="card-body" data-step="8" data-intro="Paso 8: Una vez cargados todos los datos obligatorios puede presionar Confirmar ">
                                        <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
    </div>
        
    </form>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'assets/js/lib/data-table/datatables.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/jszip.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/vfs_fonts.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.html5.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.print.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.colVis.min.js'%}"></script>
    <script src="{% static 'assets/js/init/datatables-init.js'%}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.0/b-colvis-1.6.0/b-html5-1.6.0/b-print-1.6.0/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.0/b-colvis-1.6.0/b-html5-1.6.0/b-print-1.6.0/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.js"></script>


<script>
    $('#desde').change(function() {
        var min = $('#desde').val();
        $('#hasta').attr('min',min);
    });
</script>

<script>
    $('.filtro').change(function() {
        var t = $('#tablitax').DataTable();
        var sx = $('#sexo').val();
        var desde = $('#desde').val();
        var hasta = $('#hasta').val();
        $('#tablitax').hide();
        if( sx!='' && desde !='' && hasta !=''){
            $('#tablitax').show();
            $.ajax({
                url: '/sistema/miembroTable',
                data: {
                    'sx':sx,
                    'desde':desde,
                    'hasta':hasta,
                },
                dataType: 'json',
                success: function(data) {
                    $('#lista').empty();
                    t.clear().draw();
                    for (var i = 0; i < data.length; i++) {  
                            t.row.add( [
                                data[i].apellido,
                                data[i].nombre,
                                "<input type='checkbox' class='check' name='miembro' value="+data[i].dni + ">",
                            ] ).draw( false );
                        }
                        //$('#mi-tabla').html(html);
                }
            })
        }
    });
    
        $('input.check').on('change', function () {
            console.log('weno'); // it is never shown
            cb = $(this).prop('checked');
            console.log(cb)
        });
          
        $('#tablitax').on('change', 'tbody input.check', function () {
            //console.log('weno deberia ponerse el checked o quitarse depende'); // it is never shown
            cb = $(this).prop('checked');
            var value= $(this)['context']['defaultValue'];
            console.log('value ' + value);
            if(cb==true){
                console.log('is true');
                var html = "";
                html += "<option selected name='lista[]' value=" + value + ">" + value + "</option>";
                $('#lista').append(html);
            }else{
                console.log('is false');
                $('#lista').find('option[value="'+ value +'"]').remove();
            }
        });

    $('#select-all').click(function(event) {
        var t = $('#tablitax').DataTable();
        var info = t.page.info();
        console.log( t.column(2).data());
        if(this.checked) { // Iterate each checkbox
            var t = $('#tablitax').DataTable();
            var sx = $('#sexo').val();
            var desde = $('#desde').val();
            var hasta = $('#hasta').val();
            $('#tablitax').hide();
            if( sx!='' && desde !='' && hasta !=''){
                $('#tablitax').show();
                $.ajax({
                    url: '/sistema/miembroTable',
                    data: {
                        'sx':sx,
                        'desde':desde,
                        'hasta':hasta,
                    },
                    dataType: 'json',
                    success: function(data) {
                        t.clear().draw();
                        $('#lista').empty();
                        for (var i = 0; i < data.length; i++) {  
                            t.row.add( [
                                data[i].apellido,
                                data[i].nombre,
                                "<input checked type='checkbox' class='check' name='miembro' value="+data[i].dni + ">",
                            ] ).draw( false );
                            var html = "";
                            html += "<option selected name='lista[]' value=" + data[i].dni + ">" + data[i].dni + "</option>";
                            $('#lista').append(html);
                        }
                    }
                    
                })
            }
        }
        else {
            var t = $('#tablitax').DataTable();
            var sx = $('#sexo').val();
            var desde = $('#desde').val();
            var hasta = $('#hasta').val();
            $('#tablitax').hide();
            if( sx!='' && desde !='' && hasta !=''){
                $('#tablitax').show();
                $.ajax({
                    url: '/sistema/miembroTable',
                    data: {
                        'sx':sx,
                        'desde':desde,
                        'hasta':hasta,
                    },
                    dataType: 'json',
                    success: function(data) {
                        var html = "";
                        t.clear().draw();
                        for (var i = 0; i < data.length; i++) {  
                            t.row.add( [
                                data[i].apellido,
                                data[i].nombre,
                                "<input type='checkbox' class='check' name='miembro' value="+data[i].dni + ">",
                            ] ).draw( false );
                        }
                    }
                    
                })
            }
            $('#lista').empty();
        }
    });


</script>


<script>
    $(document).ready(function(){
        $('#tablitax').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros",
                    "zeroRecords": "No hay registros encontrados - Lo Sentimos =( ",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(Filtrado de _MAX_ registros en Total)",
                    "search":"Buscar",
                },
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ 2 ] }
                ]
        });
        $('#oculto').hide()
        // $('#tablitax').hide();
        $("#nombre").change(function () {
            var nombre = $(this).val();
            console.log("oli");
            $.ajax({
                url: '{% url "sistema:validarGrupo" %}',
                data: {
                    'nombre': nombre
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        $("#nombre").val('');
                        alert(data);
                    }
                }
            });
        });
        ordenar();
    });
</script>

{% endblock body%}

