{% extends 'sistema/base_site.html' %}
{% load static %}
{% block titulo %}
    Crear Reunion
{% endblock titulo %}
{% block body %}
        <form method="POST" class="form-horizontal">
            <div class="col-lg-11">
                {% csrf_token %}
                <div class="card">
                    <form method="POST" class="form-horizontal" >
                        <div class="card-header">
                                <strong>Planilla de Registro de </strong> Reuniones
                                <a href="JavaScript:Void(0);"><i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i></a>
                        </div>
                        {% if messages %}
                                        <div class="col-md-12">
                                        <ul class="messages">
                                            {% for message in messages %}
                                            <div class="alert alert-danger">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                            </div>
                                            {% endfor %}
                                        </ul>
                                        </div>
                            {% endif %}
                        
                        

                        <div class="card-body card-block" data-step="2" data-intro="Paso 2: A continuacion, carge los campos 'nombre' con el nombre de la reuion, seleccione el tipo de reunion y el grupo al que pertenece" >
                        {% for field in reunion_form %}
                        <div class="row form-group">
                            <div class="col col-md-2"><label style="text-transform: capitalize;"  for="{{field.id_for_label}}">{{field.html_name}} (*)</label></div>
                            <div class = "col col-md-4">{{field}}</div>
                        </div>
                        {% endfor %}
                        <br>
                        <strong>Lugar de la Reunion</strong>
                        <br><br>

                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Provincia (*)</label></div>
                                        <div class="col col-md-4"><select id="provincias" name='provincia' class="form-control" required>
                                                <option selected> --------------</option>
                                                {% for provincia in provincia_form %}
                                                        <option value='{{provincia.provincia}}'>{{provincia.provincia}}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                    </div>    

                                    <div class="row form-group">
                                        
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Localidad (*)</label></div>
                                        <div class="col col-md-4"><select id="select-localidades" name='localidad' class="form-control" required>
                                            {% for localidad in localidad_form %}
                                                    <option value='{{localidad.localidad}}'>{{localidad.localidad}}</option>
                                            {% endfor %}
                                            
                                            </select>
                                        </div>

                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Barrio (*)</label></div>
                                        <div class="col col-md-4"><select id="select-barrio" name='barrio' class="form-control" required>
                                           {% for barrio in barrio_form %}
                                                    <option value='{{barrio.barrio}}'>{{barrio.barrio}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        
                                    </div>
                        <div class="row form-group">
                            <div class="col col-md-2"><label for="text-input" class=" form-control-label">Calle</label></div>
                            <div class="col col-md-5">{{domicilio_form.calle}}</div>
                            <div><label for="text-input" class=" form-control-label">Nº</label></div>
                            <div class="col col-md-2">{{domicilio_form.nro}}</div>
                            <div><label for="text-input" class=" form-control-label">Mz</label></div>
                            <div class="col col-md-2">{{domicilio_form.mz}}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-2"><label for="text-input" class=" form-control-label">Departamento</label></div>
                            <div class="col col-md-2">{{domicilio_form.departamento}}</div>
                            <div class="col col-md-1"><label for="text-input" class=" form-control-label">Piso</label></div>
                            <div class="col col-md-2">{{domicilio_form.piso}}</div>
                        </div>

                         <br>
                            <strong>HORARIO</strong>
                        <br><br>
                        {% if horario_form  %}
                            {% for field in horario_form %}
                                <div class="row form-group">
                                    <div class="col col-md-2"><label for="{{field.id_for_label}}" class=" form-control-label" >{{field.html_name}} (*)</label></div>
                                    <div class="col col-md-4">{{field}}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                                                
                        <div class="card-body" align="right">
                            <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'assets/js/recustom.js'%}"></script>
    <script>
        $(document).ready(function() {
            console.log( "ready!" );
            //$("label").attrs("style","text-transform: capitalize;");
        });
    </script>
{% endblock body %}


