{% extends 'sistema/base_site.html' %}
{% load static %}
{% block titulo %}
    Crear Reunion
{% endblock titulo %}
{% block body %}
        <form method="POST" class="form-horizontal">
            <div class="col-lg-11">
                {% csrf_token %}
                <div class="card">
                    <form method="POST" class="form-horizontal">
                        <div class="card-header">
                                <strong>Planilla de Registro de </strong> Reuniones
                        </div>
                        <div class="card-body card-block">
                        {% for field in reunion_form %}
                        <div class="row form-group">
                            <div class="col col-md-2"><label for="{{field.id_for_label}}">{{field.html_name}}</label></div>
                            {{field}}
                        </div>
                        {% endfor %}
                        <br>
                        <strong>Lugar de la Reunion</strong>
                        <br><br>
                        <div class="row form-group">
                            <div class="col col-md-5">{{miembro.domicilio}}</div>
                           
                        </div>
                        
                        </div>
                    </form>
                </div>
            </div>
        </form>
      
{% endblock body %}