{% extends 'sistema/base_site.html'%}
{% load static %}
{% block titulo%}
    Crear Grupo
{% endblock titulo%}
{% block body%}
    <form method="POST">
        {% csrf_token %}
        <div class="col-lg-11">
        
                        <div class="card">
                            <div class="card-header">
                                <strong>Planilla de Registro de </strong> Grupos
                            </div>
                            <form method="POST" class="form-horizontal">
                                    
                                <div class="row form-group">
                                    <div class="col-md-3"><label for="text-input">Nombre del Grupo (*)</label></div>
                                    <div class="col-md-5"><input type="text" id="nombre" class="form-control" name="nombre"></div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-3"><label for="text-input">Encargado(*)</label></div>
                                    <div class="col-md-5">
                                        <select required id="encargado" class="form-control" name="encargado">
                                            <option value="null"> ------------</option>
                                            {% for usuario  in usuarios %}
                                                <option value='{{usuario.id}}'>{{usuario.miembro}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row form-group">
                                    <div class="col-md-3"><label for="text-input">Sexo(*)</label></div>
                                    <div class="col-md-5">
                                        <select id="sexo" class="form-control" name="sexo">
                                            <option value="null"> ------------</option>
                                            <option value='Femenino'>Femenino</option>
                                            <option value='Masculino'>Masculino</option>
                                            <option value='Ambos'>Ambos</option>
                                        </select>
                                    </div>
                                </div>

                                <br>
                                    <div class="col-md-4"><strong>EDAD</strong></div>
                                <br>
                                <div class="row form-group">
                                    <div class="col-md-3"><label id="edad-desde" for="text-input">Desde (*)</label></div>
                                    <div class="col-md-3">{{grupo_form.desde}}</div>
                                    <div class="col-md-1"><label id="edad-hasta" for="text-input">Hasta(*)</label></div>
                                    <div class="col-md-3">{{grupo_form.hasta}}</div>
                                </div>

                                <br>
                                    <div class="col-md-5"><strong>MIEMBROS</strong></div>
                                <br>

                                <div class="row form-group">
                                    <div class="col-md-3"><label for="text-input"></label></div>
                                    <div class="col-md-7">
                                    <select required id="select-miembro" class="js-example-basic-multiple  form-control" name="miembro" multiple="multiple">
                                        
                                    </select>
                                    </div>
                                    
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
    </div>
        
    </form>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'assets/js/select2.min.js'%}"></script> 


{% comment %} <script src="{%static 'assets/js/grupo.js'%}"></script> {% endcomment %}

<script>
    $('#sexo').change(function() {
        var sx = $(this).val();
        console.log(sx);
        $.ajax({
            url: '/sistema/sexoList',
            data: {
                'mb': sx,
            },
            dataType: 'json',
            success: function(data) {
                var html = "";
                console.log('wenas y wenardas');
                console.log(data.length);
                $('#select-miembro').html("");
                for (var i = 0; i < data.length; i++) {
                    html += "<option value=" + data[i].dni + ">" + data[i].apellido +", "+data[i].nombre + "</option>";
                }
                $('#select-miembro').append(html);
                $("#select-miembro").select2({
                    theme: "classic"
                });
            }
        })
    });
</script>


<script>
    $(document).ready(function(){
        $('#select-miembro').select2();
        $("#nombre").change(function () {
            var nombre = $(this).val();
            console.log("oli");
            $.ajax({
                url: '{% url "sistema:validarGrupo" %}',
                data: {
                    'nombre': nombre
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        $("#nombre").val('')
                        alert(data);
                    }
                }
            });
        });
    });
</script>
{% endblock body%}

