
{% extends 'sistema/base_site.html' %}
{% load static %}
{% block titulo %}
    Editar Asistencia
{% endblock titulo %}
{% block body %}
    <form method="POST">
    <form>
        {% csrf_token %}
        <div class="col-lg-11">
        <div class="card">
            <form method="POST" class="form-horizontal">
            <div class="card-body card-block">
                <div class="card-body">

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="text-input"  class=" form-control-label" > Fecha (*)</label></div>
                        <div class="col col-md-4"><input readonly id="fecha" type="date" name="fecha" class ="form-control" value="{{asistencia.fecha.value|date:"Y-m-d"}}"></div>
                        

                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Reunion (*)</label></div>
                        <div class="col col-md-4"><input type="text" readonly="readonly" class="form-control" value="{{ast.reunion}}">
                        </div>
                    </div>
                    <br>
                    <div class="row form-group">
                        <div class="col col-md-5"><label for="text-input" class=" form-control-label">El Miembro {{ast.miembro}} asistió ? (*)</label></div>
                        <div class="col col-md">
                            <div class="form-check">
                                <div class="radio">
                                    <label for="radio1" class="form-check-label">
                                        <input required type="radio" id="ast-e1" name="asistio" value="True" class="form-check-input"> Si
                                    </label>
                                        </div>
                                <div class="radio">
                                    <label for="radio2" class="form-check-label ">
                                        <input type="radio" id="ast-e2" name="asistio" value="False" class="form-check-input"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <button type = "submit">Crear</button>
                </div>
                </div>
            </form>
        </div>    
        </div>


    </form>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $(function(){
            $('[type="date"]').prop('max', function(){
                return new Date().toJSON().split('T')[0];
            });
            //var fecha =$('#fecha').val()
            //console.log(fecha);
            /*var f = new Date("02/02/2018").toJSON().split('T')[0];
            console.log(f);
            $('[type="date"]').prop("value",f);*/
        });
    </script>
    <script>
        $('#reunion').change(function(){
            console.log('oliii');
            var rn = $(this).val();
            console.log(rn);
            $.ajax({
                url: '/sistema/GrupoTable/',
                data: {
                    'grupo': rn,
                },
                dataType: 'json',
                success: function(data) {
                    var html = "";
                    for (var i = 0; i < data[0]['miembro'].length; i++) {
                        html += "<tr>"    
                        html += "<td>" + data[0]['miembro'][i].nombre + "</td>";
                        html += "<td>" + data[0]['miembro'][i].apellido + "</td>";
                        html += "<td>" + "<input type='checkbox' name='check[]' value="+data[0]['miembro'][i].dni + ">"+"</td>";
                        html += "</tr>"
                    }
                    $('#mi-tabla').html(html);
                }
            })
        });
    </script>
    <script>
        $('#ast-e1').change(function(){
            console.log($(this).val());
            var vino = $(this).val();
            if(vino == 'True'){
                $('#tbl').show();
            }
        });
        $('#ast-e2').change(function(){
            console.log($(this).val());
            var vino = $(this).val();
            if(vino == 'False'){
                $('#tbl').hide();
            }
        });
    </script>
    <script src="{% static 'assets/js/asistencias.js'%}"></script>
{% endblock body %}
