{% extends 'sistema/base_site.html'%}
{% load static %}
{% block body%}
    <form method="POST">
        {% csrf_token %}
        <div class="col-lg-11">
                        <div class="card">
                            <div class="card-header">
                                <strong>Planilla de Registro de </strong> Miembros
                            </div>
                            <form method="POST" class="form-horizontal">
                            
                                <div class="card-body card-block">
                                    
                                    {% comment %} <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nº Documento (*)</label></div>
                                        <div class="col col-md-3"><input readonly="readonly" {{miembro_form.dni}}></div>
                                    </div> {% endcomment %}
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label">Nº Documento</label></div>
                                        <div class="col col-md-4">{{miembro_form.dni}}</div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nombre (*)</label></div>
                                        <div class="col-md-4">{{miembro_form.nombre}}</div>
                                        <div><label for="text-input" class=" form-control-label">Apellido (*) </label></div>
                                        <div class="col col-md-3">{{miembro_form.apellido}}</div>
                                    </div>

                                    
                                    {% if messages %}
                                        <div class="col-md-12">
                                        <ul class="messages">
                                            {% for message in messages %}

                                            <div class="alert alert-danger">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                            </div>

                                            {% endfor %}
                                        </ul>
                                        </div>
                                    {% endif %}
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Fecha de Nacimiento (*)</label></div>
                                        <div class="col-12 col-md-4">{{miembro_form.fecha_nacimiento}}<small class="form-text text-muted">dd/mm/aaaa</small></div>
                                    </div>

                                    <div class="row form-group">   
                                        <div class="col col-md-3"><label for="select" class=" form-control-label">Estado Civil (*)</label></div>
                                        <div class="col col-md-4">{{miembro_form.estado_civil}}
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="email-input" class=" form-control-label"> Email </label></div>
                                        <div class="col col-md-9">{{miembro_form.correo}}<small class="form-text text-muted"></small></div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nº Hijos (*)</label></div>
                                        <div class="col-12 col-md-4">{{miembro_form.cant_hijo}}<small class="form-text text-muted"></small></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label class="form-control-label">Trabaja (*)</label></div>
                                            <div class="col col-md-4">
                                                <div class="form-check">
                                                    {{miembro_form.trabaja}}
                                                </div>
                                            </div>
                                                
                                            <div><label class="form-control-label">Sexo (*)</label></div>
                                            <div class="col col-md-3">
                                                <div class="form-check">
                                                    {{miembro_form.sexo}}
                                                </div>
                                            </div>
                                    </div>
                                    
                                    <br>
                                    <strong>TELEFONO</strong>
                                    <br><br>
                                    <div class="row form-group">   
                                        <div class ="col col-md-3"><label for="select" class="form-control-label">Tipo de Telefono</label></div>
                                            <div class="col-12 col-md-4">
                                                {{tipo_telefono_form.tipo}}
                                            </div>
                                        <div class ="col col-md-1"><label for="select" class="form-control-label">Empresa</label></div>
                                            <div class="col-12 col-md-4">
                                                {{tipo_telefono_form.empresa}}
                                            </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-12 col-md-3"><label for="text-input" class=" form-control-label">Prefijo</label></div>
                                        <div class="col col-md-4">{{telefono_form.prefijo}}<small class="form-text text-muted"></small></div>
                                        <div class="col col-md-1"><label for="text-input" class=" form-control-label">Nº Telefono</label></div>
                                        <div class="col col-md-4">{{telefono_form.numero}}<small class="form-text text-muted"></small></div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label class="form-control-label">Whatsapp</label></div>
                                            <div class="col col-md">
                                                {{telefono_form.whatsapp}}
                                            </div>
                                    </div>

                                    <br>
                                    <strong>DOMICILIO</strong>
                                    <br><br>
                                    <div>
                                    {{miembro_form.domicilio}}
                                    </div>
                                    <div>
                                    {{miembro_form.domicilio.barrio}}
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Provincia (*)</label></div>
                                        <div class="col col-md-4">{{localidad_form.provincia}}
                                        </div>
                                    </div>  

                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Localidad (*)</label></div>
                                        <div class="col col-md-4">{{barrio_form.localidad}}
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Barrio (*)</label></div>
                                        <div class="col col-md-4">{{domicilio_form.barrio}}
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Calle (*)</label></div>
                                        <div class="col col-md-5">{{domicilio_form.calle}}</div>
                                        <div><label for="text-input" class=" form-control-label">Nº (*)</label></div>
                                        <div class="col col-md-2">{{domicilio_form.nro}}</div>
                                        <div><label for="text-input" class=" form-control-label">Mz</label></div>
                                        <div class="col col-md-2">{{domicilio_form.mz}}</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Departamento</label></div>
                                        <div class="col col-md-2">{{domicilio_form.departamento}}</div>
                                        <div class="col col-md-1"><label for="text-input" class=" form-control-label">Piso</label></div>
                                        <div class="col col-md-2">{{domicilio_form.piso}}</div>
                                    </div>
                                    
                                    <br>
                                    <strong>HORARIO DISPONIBLE</strong>
                                    <br><br>
                                    {% for field in horario_form %}
                                        <div class="row form-group">
                                            <div class="col col-md-2"><label for="{{field.id_for_label}}" class=" form-control-label" >{{field.html_name}} (*)</label></div>
                                            <div class="col col-md-4">{{field}}</div>
                                        </div>
                                    {% endfor %}
                                    

                                </div>

                            </form>
                               
                            <div class="card">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
                                </div>
                            </div>
                            
                        </div>
        </div>
    </form>

{% endblock body%}