{% extends 'sistema/base_site.html' %}
{% load static %}
{% block titulo %}
Estadistica de Asistencia
{% endblock titulo %}
{% block body %}

<script src="http://code.jquery.com/jquery-latest.js"></script>

<form method="POST">
        
    <div class="col-lg-12">
        {% csrf_token %}
        <div class="card">
            <div class="card-header" data-step="1" data-intro="Paso 1: Bienvenido al tutorial para ver las Estadisticas de las Asistencias">
                <strong>Estadistica de Asistencias</strong>
                <a href="JavaScript:Void(0);"><i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i></a>
            </div>

            <form method="POST" class="form-horizontal">

                <div  class="col-xl-12">
                    <div class="row">
                        <div class="col-lg-10 col-xl-12">
                            <div class="card br-0">
                                <div align="center" class="card-body">
                                <div class="row" data-step="2" data-intro="Paso 2: Para esta estadistica los filtros son fundamentales, veamos como usarlos" >
                                    <div class="col-3" data-step="3" data-intro="Paso 3: Aqui puedes seleccionar desde que fecha quieres ver las asistencias , si ninguna fecha fue seleccionada  te mostraremos todas las asistencias">
                                        <p style="margin-bottom:0;text-align: left;">Desde</p>
                                        <input type="date" id="desde" class="form form-control">
                                    </div>
                                    
                                    <div class="col-3" data-step="4" data-intro="Paso 4: Aqui seleccionas la fecha maxima">
                                        <p style="margin-bottom:0;text-align: left;">Hasta</p>
                                        <input type="date" id="hasta" class="form form-control">
                                    </div>
                                    
                                    <div class="col-3" data-step="5" data-intro="Paso 5: Puedes especificar una reunion, si una reunion no es especificada entonces te mostraremos todas las asistencias de todas las reuniones">
                                        <p style="margin-bottom:0;text-align: left;">Reunion</p>
                                        <select class="form form-control" name="reunion" id="rn">
                                            <option selected id="rn-null" value="null" > ------------------ </option>
                                            {% for reunion in reuniones %}
                                            <option value="{{reunion.nombre}}">{{reunion.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-3" data-step="6" data-intro="Paso 6: Ademas puedes filtrar por el rol, si ves en miembros te mostramos todos los miembros que tienen ese rol">
                                        <p style="margin-bottom:0;text-align: left;">Rol</p>
                                        <select class="form form-control" name="rol" id="rol">
                                            <option id="rol-null" value="null" > ------------------ </option>
                                            {% for rol in roles %}
                                            <option value="{{rol.id_rol}}">{{rol.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3" data-step="7" data-intro="Paso 7: Puedes seleccionar un miembro y te mostraremos solo sus registros de asistencias">
                                        <p style="margin-bottom:0;text-align: left;">Miembros</p>
                                        <select class="form form-control" name="miembro" id="mb">
                                            <option selected value="null" > ------------------ </option>
                                            {% for miembro in miembros %}
                                            <option value="{{miembro.dni}}">{{miembro.nombre}}, {{miembro.apellido}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-1"> 
                                    <br>
                                    <button  data-step="8" data-intro="Paso 8: Finalmente presiona 'filtrar' y observa!" id="filtrar" type="button" class="btn btn-primary">filtrar</button>
                                    </div> 
                                </div>  
                                
                                    <br>
                                    <canvas data-step="9" data-intro="Paso 9: Aqui te mostraremos los porcentajes de asistencias e inasistencias" id="doughnut-chart" width="800" height="450"></canvas>
                                </div>
                            </div><!-- /.card -->
                        </div>
                    </div>
                </div> <!-- /.col-md-4 -->
            </form>
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>
    $(function(){
        $('[type="date"]').prop('max', function(){
            return new Date().toJSON().split('T')[0];
        });
    });
</script>

<script>
    $("#desde" ).change(function(){
        $('#hasta').prop('min', $('#desde').val());
    });
</script>

<script>
    $('#rn').change(function(){
        var rn= $(this).val();
        if(rn != null){
            $.ajax({
                url: '/sistema/miembrosList/',
                data: {
                    'rn':rn,
                },
                dataType: 'json',
                success: function(data) {
                    var html = "";
                    $('#mb').html("");
                    html += '<option selected value= "null" > ------------------ </option>';
                    for (var i = 0; i < data.length; i++) {
                        html += "<option value=" + data[i].dni + ">" + data[i].apellido +", "+data[i].nombre + "</option>";
                    }
                    $('#mb').append(html);
                    $("#rn-null").attr("selected",false);
                    $("#rol-null").attr("selected",true);
                }
            });
        }
    });

    $('#mb').change(function(){
        $("#rn-null").attr("selected",true);
        $("#rol-null").attr("selected",true);
    });

    $('#rol').change(function(){
        var rol= $(this).val();
        if(rol != null){
            $.ajax({
                url: '/sistema/rolList/',
                data: {
                    'rol':rol,
                },
                dataType: 'json',
                success: function(data) {
                    var html = "";
                    $('#mb').html("");
                    html += '<option selected value= "null" > ------------------ </option>';
                    for (var i = 0; i < data.length; i++) {
                        html += "<option value=" + data[i]['miembro'].dni + ">" + data[i]['miembro'].apellido +", "+data[i]['miembro'].nombre + "</option>";
                    }
                    $('#mb').append(html);
                    $("#rn-null").attr("selected",true);
                    $("#rol-null").attr("selected",false);
                }
            });
        }
    });

</script>

<script>
    $('#filtrar').click(function() {
        var desde = $('#desde').val();
        var hasta = $('#hasta').val();
        var rn = $('#rn').val();
        var rol= $('#rol').val();
        var mb = $('#mb').val();
        console.log('desde '+desde);
        console.log('hasta '+hasta);
        console.log('mb '+mb);

        if(desde == "" && hasta == "") {
            console.log('mb '+mb);
            if(rn!="null"){ 
                titulo = 'Mostrando todas las Asistencias de la Reunion '+ rn;
            }
            if(rol!="null"){
                titulo = 'Mostrando todas las Asistencias de los miembros con el rol '+ rol;
            }
            if(mb!="null"){
                titulo = 'Mostrando todas las Asistencias del miembro seleccionado';
            }
        }
        else{
            var dd = desde.replace(/^(\d{4})-(\d{2})-(\d{2})$/g,'$3/$2/$1');
            var hh = hasta.replace(/^(\d{4})-(\d{2})-(\d{2})$/g,'$3/$2/$1');
            if(desde != "" && hasta != ""){
                if(rn!="null"){ 
                    titulo = 'Mostrando todas las Asistencias de la Reunion '+ rn+' entre las fechas'+ dd +" y "+ hh;
                }
                if(rol!="null"){
                    titulo = 'Mostrando todas las Asistencias de los miembros con el rol '+ rol +' entre las fechas'+ dd +" y "+ hh;
                }
                if(mb!="null"){
                    titulo = 'Mostrando todas las Asistencias del miembro seleccionado' +' entre las fechas'+ dd +" y "+ hh;
                }
            }
            else{ // si uno de los 2 no esta vacio entonces veo cual
                if (desde != ""){
                    if(rn!="null"){ 
                        titulo = 'Mostrando todas las Asistencias de la Reunion '+ rn +' desde el '+ dd + ' en adelante';
                    }
                    if(rol!="null"){
                        titulo = 'Mostrando todas las Asistencias de los miembros con el rol '+ rol  +' desde el '+ dd + ' en adelante';
                    }
                    if(mb!="null"){
                        titulo = 'Mostrando todas las Asistencias del miembro seleccionado' + ' desde el '+ dd + ' en adelante';
                    }
                }
                else{
                    if(rn!="null"){ 
                        titulo = 'Mostrando todas las Asistencias de la Reunion '+ rn +' hasta el '+ hh;
                    }
                    if(rol!="null"){
                        titulo = 'Mostrando todas las Asistencias de los miembros con el rol '+ rol  +' hasta el '+ hh;
                    }
                    if(mb!="null"){
                        titulo = 'Mostrando todas las Asistencias del miembro seleccionado' + ' hasta el '+ hh;
                    }
                }
            }
        }
        $.ajax({
            url: '/sistema/filtros_asistencias/',
            data: {
                'desde': desde,
                'hasta':hasta,
                'rn':rn,
                'rol':rol,
                'mb':mb,
            },
            dataType: 'json',
            success: function(data) {
                var ctx = document.getElementById("doughnut-chart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: [  "Presentes", "Ausentes"],
                        datasets: [{
                            label: "Estadisticas de Asistencias",
                            backgroundColor: ["#3cba9f","#c45850"],
                            data: data,
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: titulo
                        }
                    }
                });

            }
        });
    });    
</script>

{% endblock body %}