{% extends 'sistema/base_site.html' %}
{% load static %}
{% block titulo %}
Estadistica de Asistencia
{% endblock titulo %}
{% block body %}

<script src="http://code.jquery.com/jquery-latest.js"></script>

<form method="POST">
        
    <div class="col-lg-12">
        {% csrf_token %}
        <div class="card">
            <div class="card-header" data-step="1" data-intro="Paso 1: Bienvenido al tutorial para ver las Estadisticas de las Asistencias">
                <strong>Estadistica de Asistencias</strong>
                <a href="JavaScript:Void(0);"><i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i></a>
            </div>

            <form method="POST" class="form-horizontal">

                <div  class="col-xl-12">
                    <div class="row">
                        <div class="col-lg-10 col-xl-12">
                            <div class="card br-0">
                                <div align="center" class="card-body">
                                <div class="row" data-step="2" data-intro="Paso 2: Para esta estadistica los filtros son fundamentales, veamos como usarlos" >
                                    <div class="col-3" data-step="3" data-intro="Paso 3: Aqui puedes seleccionar desde que fecha quieres ver las asistencias , si ninguna fecha fue seleccionada  te mostraremos todas las asistencias">
                                        <p style="margin-bottom:0;text-align: left;">Desde</p>
                                        <input type="date" id="desde" class="form form-control">
                                    </div>
                                    
                                    <div class="col-3" data-step="4" data-intro="Paso 4: Aqui seleccionas la fecha maxima">
                                        <p style="margin-bottom:0;text-align: left;">Hasta</p>
                                        <input type="date" id="hasta" class="form form-control">
                                    </div>
                                    
                                    <div class="col-3" data-step="5" data-intro="Paso 5: Puedes especificar una reunion, si una reunion no es especificada entonces te mostraremos todas las asistencias de todas las reuniones">
                                        <p style="margin-bottom:0;text-align: left;">Reunion</p>
                                        <select class="form form-control" name="reunion" id="rn">
                                            <option selected id="rn-null" value="null" > ------------------ </option>
                                            {% for reunion in reuniones %}
                                            <option value="{{reunion.nombre}}">{{reunion.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-3" data-step="6" data-intro="Paso 6: Ademas puedes filtrar por el rol, si ves en miembros te mostramos todos los miembros que tienen ese rol">
                                        <p style="margin-bottom:0;text-align: left;">Rol</p>
                                        <select class="form form-control" name="rol" id="rol">
                                            <option id="rol-null" value="null" > ------------------ </option>
                                            {% for rol in roles %}
                                            <option value="{{rol.id_rol}}">{{rol.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3" data-step="7" data-intro="Paso 7: Puedes seleccionar un miembro y te mostraremos solo sus registros de asistencias">
                                        <p style="margin-bottom:0;text-align: left;">Miembros</p>
                                        <select class="form form-control" name="miembro" id="mb">
                                            <option selected value="null" > ------------------ </option>
                                            {% for miembro in miembros %}
                                            <option value="{{miembro.dni}}">{{miembro.apellido}}, {{miembro.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-1"> 
                                        <br>
                                        <button  data-step="8" data-intro="Paso 8: Finalmente presiona 'filtrar' y observa!" id="filtrar" type="button" class="btn btn-primary">filtrar</button>
                                    </div> 
                                    <div class="col-1">
                                        <br>
                                        <button style="margin-bottom:0;text-align: left;" data-step="9" data-intro="Paso 9: Ademas podes imprimir, presionando en PDF" type="button" class="btn btn-primary" id="print-chart-btn">PDF</button>
                                    </div>

                                </div>  
                                
                                    <br>
                                    <canvas data-step="10" data-intro="Paso 10: Aqui te mostraremos los porcentajes de asistencias e inasistencias" id="doughnut-chart" width="800" height="450"></canvas>
                                </div>
                            </div><!-- /.card -->
                        </div>
                    </div>
                </div> <!-- /.col-md-4 -->
            </form>
        </div>
    </div>
</form>

        <input type="hidden" id="titulo" value= "{{configuracion_form.titulo}}" class="titulo_reporte">
        <input type="hidden" id="telefono" value = "{{configuracion_form.telefono}}" class="telefono_reporte">
        <input type="hidden" id="direccion" value = "{{configuracion_form.direccion}}" class="direccion_reporte">
        <input type="hidden" id="generador" value = "{{request.user.username}}" class="generador">
        <input type="hidden" id="imagen" value="" class="imagen">
        <input type="hidden" id="titu" value="Estadistica de Estado de Miembros" class="titu">
        
<script src="https://cdn.jsdelivr.net/npm/jspdf@1.5.3/dist/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>
    $(function(){
        $('[type="date"]').prop('max', function(){
            return new Date().toJSON().split('T')[0];
        });
    });
</script>

<script>
    $("#desde" ).change(function(){
        $('#hasta').prop('min', $('#desde').val());
    });
</script>

<script>
    $('#rn').change(function(){
        var rn= $(this).val();
        if(rn != null){
            $.ajax({
                url: '/sistema/miembrosList/',
                data: {
                    'rn':rn,
                },
                dataType: 'json',
                success: function(data) {
                    var html = "";
                    $('#mb').html("");
                    html += '<option selected value= "null" > ------------------ </option>';
                    for (var i = 0; i < data.length; i++) {
                        html += "<option value=" + data[i].dni + ">" + data[i].apellido +", "+data[i].nombre + "</option>";
                    }
                    $('#mb').append(html);
                    $("#rn-null").attr("selected",false);
                    $("#rol-null").attr("selected",true);
                }
            });
        }
    });

    $('#mb').change(function(){
        $("#rn-null").attr("selected",true);
        $("#rol-null").attr("selected",true);
    });

    $('#rol').change(function(){
        var rol= $(this).val();
        if(rol != null){
            $.ajax({
                url: '/sistema/rolList/',
                data: {
                    'rol':rol,
                },
                dataType: 'json',
                success: function(data) {
                    var html = "";
                    $('#mb').html("");
                    html += '<option selected value= "null" > ------------------ </option>';
                    for (var i = 0; i < data.length; i++) {
                        html += "<option value=" + data[i]['miembro'].dni + ">" + data[i]['miembro'].apellido +", "+data[i]['miembro'].nombre + "</option>";
                    }
                    $('#mb').append(html);
                    $("#rn-null").attr("selected",true);
                    $("#rol-null").attr("selected",false);
                }
            });
        }
    });

</script>

<script>
    $('#filtrar').click(function() {
        var desde = $('#desde').val();
        var hasta = $('#hasta').val();
        var rn = $('#rn').val();
        var rol= $('#rol').val();
        var mb = $('#mb').val();
        console.log('desde '+desde);
        console.log('hasta '+hasta);
        console.log('mb '+mb);

        if(desde == "" && hasta == "") {
            console.log('mb '+mb);
            if(rn!="null"){ 
                titulo = 'Mostrando todas las Asistencias de la Reunion '+ rn;
            }
            if(rol!="null"){
                titulo = 'Mostrando todas las Asistencias de los miembros con el rol '+ rol;
            }
            if(mb!="null"){
                titulo = 'Mostrando todas las Asistencias del miembro seleccionado';
            }
        }
        else{
            var dd = desde.replace(/^(\d{4})-(\d{2})-(\d{2})$/g,'$3/$2/$1');
            var hh = hasta.replace(/^(\d{4})-(\d{2})-(\d{2})$/g,'$3/$2/$1');
            if(desde != "" && hasta != ""){
                if(rn!="null"){ 
                    titulo = 'Mostrando todas las Asistencias de la Reunion '+ rn+' entre las fechas'+ dd +" y "+ hh;
                }
                if(rol!="null"){
                    titulo = 'Mostrando todas las Asistencias de los miembros con el rol '+ rol +' entre las fechas'+ dd +" y "+ hh;
                }
                if(mb!="null"){
                    titulo = 'Mostrando todas las Asistencias del miembro seleccionado' +' entre las fechas'+ dd +" y "+ hh;
                }
            }
            else{ // si uno de los 2 no esta vacio entonces veo cual
                if (desde != ""){
                    if(rn!="null"){ 
                        titulo = 'Mostrando todas las Asistencias de la Reunion '+ rn +' desde el '+ dd + ' en adelante';
                    }
                    if(rol!="null"){
                        titulo = 'Mostrando todas las Asistencias de los miembros con el rol '+ rol  +' desde el '+ dd + ' en adelante';
                    }
                    if(mb!="null"){
                        titulo = 'Mostrando todas las Asistencias del miembro seleccionado' + ' desde el '+ dd + ' en adelante';
                    }
                }
                else{
                    if(rn!="null"){ 
                        titulo = 'Mostrando todas las Asistencias de la Reunion '+ rn +' hasta el '+ hh;
                    }
                    if(rol!="null"){
                        titulo = 'Mostrando todas las Asistencias de los miembros con el rol '+ rol  +' hasta el '+ hh;
                    }
                    if(mb!="null"){
                        titulo = 'Mostrando todas las Asistencias del miembro seleccionado' + ' hasta el '+ hh;
                    }
                }
            }
        }

        $.ajax({
            url: '/sistema/filtros_asistencias/',
            data: {
                'desde': desde,
                'hasta':hasta,
                'rn':rn,
                'rol':rol,
                'mb':mb,
            },
            dataType: 'json',
            success: function(data) {
                var ctx = document.getElementById("doughnut-chart").getContext('2d');
                if(data.length ==0){
                    titulo="NO HAY DATOS PARA MOSTRAR"
                }
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: [  "Presentes - "+data[0]+"%", "Ausentes - "+data[1]+"%"],
                        datasets: [{
                            label: "Estadisticas de Asistencias",
                            backgroundColor: ["#3cba9f","#c45850"],
                            data: data,
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: titulo
                        }
                    }
                });

            }
        });
    });    
    $.ajax({
        url: '{% url "sistema:obtenerLogo" %}',
        data: {
        },
        dataType: 'json',
        success: function (data) {
            if (data.is_taken) {
                alert("Error al obtener datos");
            } else {
                logo = data.logo;
                document.getElementById('imagen').value = logo;
            }
        }
    });   
    $('#print-chart-btn').on('click', function() {
        var canvas = document.querySelector("#doughnut-chart");

        //Escoje la calidad de la imagen segun el navegador supuestamente, la verdad no veo diferencia xd
        var v = 0
        var url = canvas.toDataURL('image/jpeg')
        for(var i = 0; i < 100; i++ ){

            v += 0.01;
            x = parseFloat((v).toFixed(2))
            var test = canvas.toDataURL('image/jpeg', x);

            if(test == url){
                console.log('The default value is: ' + x);
            }
        }
        var canvasImg = canvas.toDataURL("image/png", x); //JPEG will not match background color
        //creates PDF from img
        var doc = new jsPDF('portrait');
        
        //Seccion Titulo/Encabezado
        
        doc.addImage(logo, 'PNG', 10, 10, 30, 15)                                                                                                                                                                                                                                                               
        doc.setFont('helvetica')
        doc.setFontType('bold')
        doc.setFontSize(14);        
        doc.text(60, 28, "Estadistica de Estado de Miembros");
        doc.setFontType('normal')
        doc.setFontSize(8);
        var generado_por = $('#generador').val()
        var fecha_hoy = moment(moment.now()).format('DD/MM/YYYY');
        var filtro_user= $('#filter_user').val()
        var filtro_fecha = $('#daterangepicker').val()
        var pk_user_actual = $('#pk_user_actual').val()
        console.log(pk_user_actual, filtro_user)
        if(pk_user_actual == filtro_user){
            filtro_user = generado_por;
        }else{
            filtro_user= $('#filter_user option:selected').text()
        }
        if(filtro_fecha == ''){
            filtro_fecha = '-'
        }
        doc.text(160, 10, "Generado por: " + generado_por);
        
        doc.setFontType('bold')
        //doc.text(145, 15, "Filtros");
        doc.setFontType('normal')
        doc.text(20, 40, "Filtros: " + titulo);
        doc.text(160, 15, "Generado el " + fecha_hoy);
        
        //FOOTER
        doc.text(20, 285, "Generado el " + fecha_hoy);
        doc.text(155, 285, "Página 1 de 1");
        
        doc.setLineWidth(0.2)
        doc.line(10, 30, 200, 30)
        
        //Seccion Chart
        doc.addImage(canvasImg, 'PNG', 30, 50, 135, 90 );
        doc.save('canvas.pdf');
    }); 
</script>

{% endblock body %}