{% extends 'sistema/base_site.html' %}
{% load static %}
{% block titulo %}
Estadistica del Estado de Reuniones
{% endblock titulo %}
{% block body %}

<script src="http://code.jquery.com/jquery-latest.js"></script>

<form method="POST">
        
    <div class="col-lg-12">
        {% csrf_token %}
        <div class="card">
            <div class="card-header" data-step="1" data-intro="Paso 1: Bienvenido al tutorial de ver las Estadisticas de los Estados de las Reuniones">
                <strong>Estadistica de Estado de Reuniones</strong>
                <a href="JavaScript:Void(0);"><i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i></a>
            </div>

            <form method="POST" class="form-horizontal">

                <div  class="col-xl-12" data-step="2" data-intro="Paso 2: Actualmente se muestra el porcentaje de como se encuentran actualmente las reuniones ">
                    <div class="row">
                        <div class="col-lg-10 col-xl-12" >
                            <div class="card br-0" >
                                <div align="center" class="card-body">
                                <div class="row" data-step="3" data-intro="Paso 3: Puedes Filtrar como quieras!">
                                    
                                    <div class="col-3" data-step="4" data-intro="Paso 4: Colocar a partir de que fecha">
                                    <p style="margin-bottom:0;text-align: left;">Desde</p>
                                    <input type="date" id="desde" class="form form-control"></div>
                                    
                                    <div class="col-3" data-step="5" data-intro="Paso 5: Colocar la fecha limite">
                                    <p style="margin-bottom:0;text-align: left;">Hasta</p>
                                    <input type="date" id="hasta" class="form form-control"></div>
                                    
                                    <div class="col-3" data-step="6" data-intro="Paso 6: Puedes especificar la reunion y te mostrata segun las encuestas el porcentaje de lo que voto cada miembro">
                                    <p style="margin-bottom:0;text-align: left;">Reunion</p>
                                    <select class="form form-control" name="reunion" id="rn">
                                        {% for reunion in reuniones %}
                                        <option value="{{reunion.id_reunion}}">{{reunion.nombre}}</option>
                                        {% endfor %}
                                    </select></div>
                                    <div class="col-2"> 
                                    <br>
                                    <button  data-step="7" data-intro="Paso 7: Finalmente presiona 'Filtrar' y observa" id="filtrar" type="button" class="btn btn-primary">filtrar</button>
                                    </div> 
                                </div>  
                                
                                    <br>
                                    <canvas data-step="8" data-intro="Paso 8: aqui se mostraran los resultados, pasa el cursor sobre el grafico para ver los porcentajes" id="doughnut-chart" width="800" height="450"></canvas>
                                </div>
                            </div><!-- /.card -->
                        </div>
                    </div>
                </div> <!-- /.col-md-4 -->
            </form>
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>
    $(function(){
        $('[type="date"]').prop('max', function(){
            return new Date().toJSON().split('T')[0];
        });
        $('#filtrar').click();
    });
</script>

<script>
    $("#desde" ).change(function(){
        $('#hasta').prop('min', $('#desde').val());
    });
</script>

<script>
    $('#filtrar').click(function() {
        var desde = $('#desde').val();
        var hasta = $('#hasta').val();
        var rn = $('#rn').val();
        $.ajax({
            url: '/sistema/filtros_estado_reunion/',
            data: {
                'desde': desde,
                'hasta':hasta,
                'rn':rn,
            },
            dataType: 'json',
            success: function(data) {
                var ctx = document.getElementById("doughnut-chart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: [ "Muy Bien", "Bien", "Medio", "Critico"],
                        datasets: [{
                            label: "Estado de Reunion",
                            backgroundColor: ["#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                            data: data,
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Estado de Reunion'
                        }
                    }
                });//aca tendria que haber un mensajito
                

            }
        });
    });    
</script>

{% endblock body %}