{% extends 'sistema/base_site.html' %}
{% load static %}
{% block titulo %}
Miembro en Estado Critico
{% endblock titulo %}
{% block body %}

<script src="http://code.jquery.com/jquery-latest.js"></script>

<form method="POST">
        
    <div class="col-lg-11">
        {% csrf_token %}
        <div class="card">
            <div class="card-header" data-step="1" data-intro="Paso 1: Bienvenido al tutorial de ver las Estadisticas de los Estados de los miembros">
                <strong>Planilla de Estado de  Miembros </strong> 
                <a href="JavaScript:Void(0);"><i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i></a>
            </div>

            <form method="POST" class="form-horizontal">
            
                <div  class="col-xl-12" data-step="2" data-intro="Paso 2: Actualmente se esta mostrando los porcentajes de como estan acutalmente los usuarios">
                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <div class="card br-0">
                                <div align="center" class="card-body">
                                <div class="row row-form-group" data-step="3" data-intro="Paso 3: Puedes seleccionar en un rango de fechas">
                                    <div class="col-3" data-step="3" data-intro="Paso 3: Aqui puedes seleccionar a partir de que fecha queres ver los estados de los miembros , si ninguna fecha fue seleccionada  te mostraremos todos los estados">
                                        <p style="margin-bottom:0;text-align: left;">Desde</p>
                                        <input type="date" id="desde" class="form form-control">
                                    </div>
                                    
                                    <div class="col-3" data-step="4" data-intro="Paso 4: Aqui seleccionas la fecha maxima">
                                        <p style="margin-bottom:0;text-align: left;">Hasta</p>
                                        <input type="date" id="hasta" class="form form-control">
                                    </div>

                                    <div class="col-3" data-step="5" data-intro="Paso 5: Puedes especificar un usuario, si un usuario no es especificado entonces te mostraremos todos los estados de todos las usuarios">
                                        <p style="margin-bottom:0;text-align: left;">Usuario</p>
                                        <select name="usuario" id="usr" class="form form-control">
                                            <option value=""></option>
                                            {%for usr in usuarios%}
                                                <option value="{{usr.username}}">{{usr.username}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <button style="margin-bottom:0;text-align: left;" data-step="7" data-intro="Paso 7: Apreta Filtrar y observa" type="button" class="btn btn-primary" id="filtrar">Filtrar</button>
                                        <button style="margin-bottom:0;text-align: left;" data-step="8" data-intro="Paso 8: Ademas podes imprimir, presionando en PDF" type="button" class="btn btn-primary" id="print-chart-btn">PDF</button>
                                    </div>
                                </div>    
                                    <br>
                                    <canvas data-step="9" data-intro="Paso 9: Aqui se encuentran los estados de los miembros entre esas fechas" id="doughnut-chart" width="800" height="450"></canvas>
                                </div>
                            </div><!-- /.card -->
                        </div>
                    </div>
                </div> <!-- /.col-md-4 -->
            </form>
        </div>
    </div>
</form>
        <input type="hidden" id="titulo" value= "{{configuracion_form.titulo}}" class="titulo_reporte">
        <input type="hidden" id="telefono" value = "{{configuracion_form.telefono}}" class="telefono_reporte">
        <input type="hidden" id="direccion" value = "{{configuracion_form.direccion}}" class="direccion_reporte">
        <input type="hidden" id="generador" value = "{{request.user.username}}" class="generador">
        <input type="hidden" id="imagen" value="" class="imagen">
        <input type="hidden" id="titu" value="Estadistica de Estado de Miembros" class="titu">
        
        
<script src="https://cdn.jsdelivr.net/npm/jspdf@1.5.3/dist/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>
    $(function(){
        $('[type="date"]').prop('max', function(){
            return new Date().toJSON().split('T')[0];
        });
        $('#filtrar').click();
    });
</script>

<script>
    $("#desde" ).change(function(){
        $('#hasta').prop('min', $('#desde').val());
    });
</script>

<script>
    $('#filtrar').click(function() {
        var desde = $('#desde').val();
        var hasta = $('#hasta').val();
        var usr = $('#usr').val();
        titulo = "";
        //cambiar el formato de las fechas para mostrar el titulo
        if(desde == "" && hasta == ""){
            if(usr==""){
                titulo = 'Mostrando el estado actual de los usuarios';
            }
            else{
                titulo = 'Mostrando el estado actual  del usuario '+usr;
            }
        }
        else{
            if(desde != "" && hasta != ""){
                var dd = desde.replace(/^(\d{4})-(\d{2})-(\d{2})$/g,'$3/$2/$1');
                var hh=hasta.replace(/^(\d{4})-(\d{2})-(\d{2})$/g,'$3/$2/$1');
                if(usr==""){
                    titulo = "Mostrando el estado de todos los usuarios del "+ dd +" al "+ hh;
                }else{
                    titulo = "Mostrando el estado del usuario "+ usr +" del "+ dd +" al "+ hh;
                }
            }
            else{ // si uno de los 2 no esta vacio entonces veo cual
                if (desde != ""){
                    var dd = desde.replace(/^(\d{4})-(\d{2})-(\d{2})$/g,'$3/$2/$1');
                    if(usr==""){ 
                        titulo = "Mostrando el estado de todos los usuarios del "+ dd + " en adelante";
                    }else{
                        titulo = "Mostrando el estado de "+usr +" del "+ dd + " en adelante";
                    }
                }
                else{
                    var hh=hasta.replace(/^(\d{4})-(\d{2})-(\d{2})$/g,'$3/$2/$1');
                    if(usr==""){ 
                        titulo = "Mostrando el estado de los miembros hasta el "+ hh;
                    }else{
                        titulo = "Mostrando el estado de "+usr +" hasta el "+ hh;
                    }
                }
            }
        }
        $.ajax({
            url: '/sistema/filtros_estado_miembro/',
            data: {
                'desde': desde,
                'hasta':hasta,
                'usr':usr,
            },
            dataType: 'json',
            success: function(data) {
               var ctx = document.getElementById("doughnut-chart").getContext('2d');
               if(data.length ==0){
                    titulo="NO HAY DATOS PARA MOSTRAR"
                }
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: [ "Muy Bien - "+data[0]+"%", "Bien - "+data[1]+"%", "Medio - "+data[2]+"%", "Critico - "+data[3]+"%"],
                        datasets: [{
                            label: "Estado de Miembros",
                            backgroundColor: ["#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                            data: data,
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: titulo
                        }
                    }
                });
            }
        });
    });
    $.ajax({
        url: '{% url "sistema:obtenerLogo" %}',
        data: {
        },
        dataType: 'json',
        success: function (data) {
            if (data.is_taken) {
                alert("Error al obtener datos");
            } else {
                logo = data.logo;
                document.getElementById('imagen').value = logo;
            }
        }
    });   
    $('#print-chart-btn').on('click', function() {
        var canvas = document.querySelector("#doughnut-chart");

        //Escoje la calidad de la imagen segun el navegador supuestamente, la verdad no veo diferencia xd
        var v = 0
        var url = canvas.toDataURL('image/jpeg')
        for(var i = 0; i < 100; i++ ){

            v += 0.01;
            x = parseFloat((v).toFixed(2))
            var test = canvas.toDataURL('image/jpeg', x);

            if(test == url){
                console.log('The default value is: ' + x);
            }
        }
        var canvasImg = canvas.toDataURL("image/png", x); //JPEG will not match background color
        //creates PDF from img
        var doc = new jsPDF('portrait');
        
        //Seccion Titulo/Encabezado
        
        doc.addImage(logo, 'PNG', 10, 10, 30, 15)                                                                                                                                                                                                                                                               
        doc.setFont('helvetica')
        doc.setFontType('bold')
        doc.setFontSize(14);        
        doc.text(60, 28, "Estadistica de Estado de Miembros");
        doc.setFontType('normal')
        doc.setFontSize(8);
        var generado_por = $('#generador').val()
        var fecha_hoy = moment(moment.now()).format('DD/MM/YYYY');
        var filtro_user= $('#filter_user').val()
        var filtro_fecha = $('#daterangepicker').val()
        var pk_user_actual = $('#pk_user_actual').val()
        console.log(pk_user_actual, filtro_user)
        if(pk_user_actual == filtro_user){
            filtro_user = generado_por;
        }else{
            filtro_user= $('#filter_user option:selected').text()
        }
        if(filtro_fecha == ''){
            filtro_fecha = '-'
        }
        doc.text(160, 10, "Generado por: " + generado_por);
        
        doc.setFontType('bold')
        //doc.text(145, 15, "Filtros");
        doc.setFontType('normal')
        doc.text(20, 40, "Filtros: " + titulo);
        doc.text(160, 15, "Generado el " + fecha_hoy);
        
        //FOOTER
        doc.text(20, 285, "Generado el " + fecha_hoy);
        doc.text(155, 285, "Página 1 de 1");
        
        doc.setLineWidth(0.2)
        doc.line(10, 30, 200, 30)
        
        //Seccion Chart
        doc.addImage(canvasImg, 'PNG', 30, 50, 135, 90 );
        doc.save('canvas.pdf');
    }); 
</script>

<script>
    
</script>
{% endblock body %}