
      

{% extends 'sistema/base_site.html' %}
{% load static %}

{% block body %}

<link rel="stylesheet" href="{% static 'assets/css/cmain.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/dmain.css'%}">


    <!-- /Calender Chart Weather -->
        <!-- Modal -->
        <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="miModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" id="detail_modal">
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>
    <!-- /#event-modal -->
            
  
        <!-- Content -->
        <div class="content" >
            <div class="row">
                {% if messages %}
                    <div class="col-md-12">
                        <ul class="messages">
                            {% for message in messages %}
                                <div class="alert alert-danger">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="container">
                <div class="text-center">
                    {% if sexo == "Femenino" %}
                        <h2><strong>Bienvenida {{usuario}},</strong> que tengas un lindo día!</h2>
                    {% else %}
                        <h2><strong>Bienvenido {{usuario}},</strong> que tengas un lindo día!</h2>

                    {% endif %}
                </div>
                <br>
            </div>
            
            
            <!-- Animated -->
            <div class="animated fadeIn">
                
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" align="center">
                        <div class="carousel-item active">
                        <img class="d-block w-70" src="{% static 'images/todo.png'%}" alt="Logo"></a>
                        </div>
                        <div class="carousel-item ">
                        <img class="d-block w-70" src="{% static 'images/prueba.png'%}" alt="Logo"></a>
                        </div>
                        <div class="carousel-item ">
                        <img class="d-block w-70" src="{% static 'images/xd.png'%}" alt="Logo"></a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previos</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
                <!--  /Traffic -->
                <br>
                {%if reuniones%}
                    <div class="row row-group">
                        <div class="col col-md-1"><label for="text-input"><strong> Reunion </strong></label></div>
                        <div class="col col-md-10"><select name="rn" id="rn" class="js-example-basic-multiple  form-control selectecito" multiple="multiple">
                            {%for reunion in reuniones%}
                                <option value="{{reunion.id_reunion}}">{{reunion.nombre}}</option>
                            {%endfor%}
                        </select>
                        </div>
                        <div class="col col-md-1">
                            <div><button id="filtrar" type="button" class="btn btn-primary">Filtrar</button></div>
                        </div>
                        <!-- <div class="col"></div><label for="text-input"> El siguiente Color significa que  </label>
                        <button style="background:#F78181; color: white;">No hubo reunion</button> -->
                    </div>
                    <br>
                    
                                        
                    <!-- Calender Chart Weather  -->

                    <div class="row">
                        <div class="col"></div>
                        <div class="col-10"><div id="calendar"></div></div>
                        <div class="col"></div>
                        
                    </div>
                {%endif%}                
                
            </div>
            <!-- .animated -->
        </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script> 
    <script src="{% static 'assets/js/cmain.js' %}"></script>
    <script src="{% static 'assets/js/dmain.js' %}"></script>
    <script src="{% static 'assets/js/imain.js' %}"></script>
    <script src="{% static 'assets/js/select2.min.js'%}"></script>

    <script>
        $(document).ready(function(){
            $('#rn').select2();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        calendarEl = document.getElementById('calendar');

        calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid' , 'interaction'],
            header:{
                left:'prev next  miBoton',
                center:'title',
                right:'',
            },

            customButtons:{
                miBoton:{
                    text:'Hoy',
                    click:function(){
                        alert("Hola gente!");
                        $('#miModal').modal('toggle');
                    }
                }
            },

            eventClick:function(info){
                console.log(info['event']['title']);
                console.log(info['event']['extendedProps']['faltas']);
                html="";
                titulo=info['event']['title'];
                $('#miModalLabel').html(titulo);
                if(info['event']['extendedProps']['asistencia']==0){
                    html+="<label>No hubo reunion</label>";
                }else{
                    html+="<label>Asistencia</label>";
                    html+="<div class='input-group'><input class='form-control' type=text value='" + info['event']['extendedProps']['asistencia'] + "' /><span class='input-group-btn'></span></div>";
                    html+="<label>Faltas</label>";
                    html+="<div class='input-group'><input class='form-control' type=text value='" + info['event']['extendedProps']['faltas'] + "' /><span class='input-group-btn'></span></div>";
                }
                
                $('#miModal').modal('toggle');
                $('#detail_modal').html(html);
            },

        });
        calendar.setOption('locale','Es');
        calendar.render();
        });

        function limpiar(){
            console.log(calendar.getEvents().length)
            var j = 0;
            for(var i =0;j<calendar.getEvents().length;i++){
                var event = calendar.getEventById((calendar.getEvents()[j].id));
                event.remove();
            }
        };

        $('#filtrar').click(function() {
            var rn = $('#rn').val(); //si no hay nada retorna null
            $.ajax({
                url: '/sistema/Calendario',
                data: {
                    'rn':rn,
                },
                dataType: 'json',
                success: function(data) {
                    limpiar();
                    var html = "";
                    console.log(data);
                    for(var i =0;i<data.length;i++){
                        calendar.addEvent({
                            title: data[i]['reunion'],
                            date:data[i]['fecha'],
                            allDay: false,
                            color:data[i]['color'],
                            asistencia:data[i]['cant_a'],
                            faltas:data[i]['cant_f'],
                        });
                        
                    };
                    
                    
                    
                }
            });
        });
  </script>
{% endblock body %}