{% load static%}
<!-- Left Panel -->
<script src="http://code.jquery.com/jquery-latest.js"></script>


<script>
    function inicial(){
            var i;
            for(i=0;i<45;i++){
                $('#'+i).hide();
            }
        };
    function myFunction(id){
        $('#'+id).show();
    };
</script>
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/Home"><i class="menu-icon fa fa-home"></i>Home </a>
                    </li>
                    

                    <li id="miembros-titulo" class="menu-title">Miembros</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a id="miembros" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-user"></i>Miembros</a>
                        <ul id="1.5" class="sub-menu children dropdown-menu">
                            <div id="oli"><li id ="1" ><i class="fa fa-plus-square"></i><a href="/sistema/crearMiembro">Agregar Miembro</a></li></div>
                            <li id ="4" ><i class="fa fa-bars"></i><a href="/sistema/listarMiembro">Ver Miembros</a></li> <!--aca esta el editar y eliminar-->
                            <!--<li><i class="fa fa-id-card-o"></i><a href="ui-cards.html">Cards</a></li>-->
                        </ul>
                    </li>
                        
                    
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Grupos</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li id="14"><i class="fa fa-plus-square"></i><a href="/sistema/crearGrupo">Agregar Grupo</a></li>
                            <li id="17"><i class="fa fa-bars"></i><a href="/sistema/listarGrupo">Ver Grupos</a></li>
                        </ul>
                    </li>
                    

                    <li class="menu-title">Reuniones</li><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Reunion</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li id="6"><i class="menu-icon fa fa-plus-square-o"></i><a href="/sistema/crearReunion">Crear Reunion</a></li>
                            <li id="9"><i class="menu-icon fa fa-bars"></i><a href="/sistema/listarReunion">Ver Reuniones</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Tipo de Reunion</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li id="11"><i class="menu-icon fa fa-plus-square"></i><a href="/sistema/crearTipo_Reunion">Crear Tipo de Reunion</a></li>
                            <li id="40"><i class="menu-icon fa fa-bars"></i><a href="/sistema/listarTipo_Reunion">Ver Tipo de Reuniones</a></li>
                        </ul>
                    </li>

                    <li id="39"><a href="/sistema/enviarMensaje"> <i class="menu-icon ti-email"></i> Emitir Comunicado</a></li>
                    
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-calendar"></i>Asistencias</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li id="19"><i class="menu-icon fa  fa-check-square"></i><a href="/sistema/agregarAsistencia">Agregar Asistencias</a></li>
                            <li id="22"><i class="menu-icon fa fa-list-ul"></i><a href="/sistema/verAsistencia">Ver Asistencias</a></li>
                        </ul>
                    </li>

                    <li class="menu-title">Encuestas Pendientes</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Encuestas Pendientes</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-plus-square-o"></i><a href="/sistema/agregarRespuesta">Responder Encuesta</a></li>
                        </ul>
                    </li>

                    <li class="menu-title">Configuracion</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Ajustes</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li id="24"><i class="menu-icon fa fa-cog"></i><a href="/sistema/configuracion">Configuracion de Reporte</a></li>
                            <li id="29"><i class="menu-icon fa fa-wrench"></i><a href="/sistema/agregarEncuesta">Configuracion de Encuestas</a></li>
                            <li id="41"><i class="menu-icon fa fa-wrench"></i><a href="/mensajeria/configurarMensajes">Configuracion de Mensajes</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-sitemap"></i>Roles</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li id="31"><i class="menu-icon fa fa-th"></i><a href="/sistema/crearRol">Crear Roles</a></li>
                            <li id="32"><i class="menu-icon fa fa-th"></i><a href="/sistema/verRol">Ver Roles</a></li>
                        </ul>
                    </li>
                    <li id="42" class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Auditoria</a>
                        <ul  class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa  fa-book"></i><a href="/sistema/auditoriaMiembro">Auditoria Miembro</a></li>
                            <li><i class="menu-icon fa  fa-book"></i><a href="/sistema/auditoriaReunion">Auditoria Reunion</a></li>
                            <li><i class="menu-icon fa  fa-book"></i><a href="/sistema/auditoriaAsistencia">Auditoria Asistencia</a></li>
                        </ul>
                    </li>
                    <li id="43"  class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Estadisticas</a>
                        <ul  class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="/sistema/estadistica_miembro">Estado de Miembros</a></li>
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="/sistema/estadistica_reunion">Estado de Reuniones</a></li>
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="/sistema/estadistica_asistencias">Estadistica de  Asistencias</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Paginas</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Cerrar Sesion</a></li>
                            <li id="35"><i class="menu-icon fa fas fa-address-book"></i><a href="/accounts/signup">Registrar Usuario</a></li>
                            <li id="38"><i class="menu-icon fa fa-sign-in"></i><a href="/sistema/listarUsuario">Ver Usuario</a></li>
                        </ul>
                    </li>
                    <script>inicial()</script>
                    {% for pr in user.rol.permisos.all %}
                        <script> myFunction("{{pr.id_permiso}}") </script>
                    {% endfor %}
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./"><img src="{% static 'images/logo-definited.jpeg '%}" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo2.png'%}" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        {% comment %} <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">3</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div> {% endcomment %}

                        {% comment %} <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="count bg-primary">4</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src=" {% static 'images/avatar/1.jpg' %}"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Jonathan Smith</span>
                                        <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src=" {% static 'images/avatar/2.jpg' %}"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Jack Sanders</span>
                                        <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="{% static 'images/avatar/3.jpg'%}"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Cheryl Wheeler</span>
                                        <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="{% static 'images/avatar/4.jpg'%}"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Rachel Santos</span>
                                        <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </div>
                                </a>
                            </div>
                        </div> {% endcomment %}
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{% static 'images/2.jpg'%}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="/sistema/configurarUsuario/{{request.user.id}}"><i class="fa fa- user"></i>Mi Perfil</a>

                            <a class="nav-link" href="/sistema/configurarUsuario/{{request.user.id}}"><i class="fa fa -cog"></i>Configuracion</a>

                            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-power -off"></i>Cerrar Sesion</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
