{% extends 'sistema/base_site.html' %}
{% load static %}
{% block body %}
        
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Reunion</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Reunion</a></li>
                                    <li class="active">Listado de Reuniones</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% if messages %}
            <div class="col-md-11">
            <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
            {% endfor %}
            </ul>
        {% endif %} 
        </div>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-step="1" data-intro="Paso 1: Bienvenidos al tutorial para ver el listado de tipos de reuniones, podra buscar un tipo de reunion por su nombre o por su descripcion, y podria imprimir presionando 'PDF'">
                                <strong class="card-title">Listado de Reuniones</strong>
                                <a href="JavaScript:Void(0);"><i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i></a>
                            </div>
                            <div class="card-body">
                                <table id="tablita" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th data-step="2" data-intro="Paso 2: Usted podra ordenar las filas utilizando las flechas que estan a la derecha de cada encabezado" >Nombre</th>
                                            <th>Descripcion</th>
                                            <th data-step="3" data-intro="Paso 3: Podra editar y eliminar utilizando los botones de esta columna"> </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if tipo_reuniones %}
                                            {% for tipo_reunion in tipo_reuniones %}
                                                <tr>
                                                    <td>{{tipo_reunion.nombre}}</td>
                                                    <td>{{tipo_reunion.descripcion}}</td>
                                                    <td> 
                                                        {% comment %} <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-eye"></i></button>                                                         {% endcomment %}
                                                        <a href="/sistema/editarTipo_Reunion/{{tipo_reunion.id_tipo_reunion}}" class="btn btn-outline-success btn-sm" ><i class="fa fa-edit"></i></a>
                                                        <a href="#myModal2" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2{{tipo_reunion.id_tipo_reunion}}"><i class="fa fa-trash-o"></i></a>
                                                        <!-- inicio del modal-->
                                                            <div class="btn-group">
                                                                <div class="modal fade bs-example-modal-lg2{{tipo_reunion.id_tipo_reunion}}" id="myModal2{{tipo_reunion.id_tipo_reunion}}" tabindex="-1" role="dialog" aria-hidden="true">
                                                                    <div class="modal-dialog modal-lg">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title" id="myModalLabel{{tipo_reunion.id_tipo_reunion}}">Confirmacion de Eliminacion</h4>
                                                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <h4>Esta seguro de Eliminar el tipo de reunion {{tipo_reunion.nombre}} ?</h4>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                                <a href=" {% url 'sistema:eliminarTipo_Reunion' tipo_reunion.id_tipo_reunion%}" class="btn btn-primary" >Confirmar Eliminacion</a>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        <!--Fin del modal-->
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
        
    <script src="{% static 'assets/js/lib/data-table/datatables.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/jszip.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/vfs_fonts.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.html5.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.print.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.colVis.min.js'%}"></script>
    <script src="{% static 'assets/js/init/datatables-init.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.0/b-colvis-1.6.0/b-html5-1.6.0/b-print-1.6.0/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.css"/>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.0/b-colvis-1.6.0/b-html5-1.6.0/b-print-1.6.0/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.js"></script>
    
    
{% endblock body %}