{% extends 'sistema/base_site.html' %}
{% load static %}
{% block titulo %}
    Agregar Asistencia
{% endblock titulo %}
{% block body %}
<script src="http://code.jquery.com/jquery-latest.js"></script> 

    <form method="POST">
        {% csrf_token %}
        <div class="col-lg-12">
        <div class="card">
        
            <form method="POST" class="form-horizontal">
                    

                    <div class="content">
                        <div class="animated fadeIn">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" data-step="1" data-intro="Paso 1: Bienvenidos al tutorial para ver Asistencias, puedes usar el buscador para buscar un miembro, una fecha, una reunion,etc o utilizar los filtros!" >
                                            <strong class="card-title">Listado de Asistencias</strong>
                                            <a href="JavaScript:Void(0);"><i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i></a>
                                        </div>

                                        <div class="card-body">
                                            <table id="tablita" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th  class="filtrecito"data-step="2" data-intro="Paso 2: En cada Encabezado puede filtrar haciendo click dentro del camplo blanco y ordenar presionando las felchas de la derecha" >Nombre</th>
                                                        <th class="filtrecito">Apellido</th>
                                                        <th class="filtrecito">Fecha</th>
                                                        <th class="filtrecito">Reunion</th>
                                                        <th class="filtrecito">Presente</th>
                                                        <th class="noExport" data-step="3" data-intro="Paso 3: En caso notes un error puedes modificar la fecha de asistencia" ></th>
                                                    </tr>
                                                </thead>
                                                <tbody> 
                                                
                                                    {% for ast in asistencia %}
                                                        <tr>
                                                            <td>{{ast.miembro.nombre}}</td>
                                                            <td>{{ast.miembro.apellido}}</td>
                                                            <td>{{ast.fecha}}</td>
                                                            <td>{{ast.reunion}}</td>
                                                            {% if ast.presente %}
                                                                <td class="cosito cosito-presente">Presente</td>
                                                            {%else%}
                                                                <td class="cosito cosito-falto">Faltó</td>
                                                            {%endif%}
                                                            <td><a href="/sistema/editarAsistencia/{{ast.id_asistencia}}" class="btn btn-outline-success btn-sm" ><i class="fa fa-edit"></i></a></td>
                                                        </tr>
                                                    {% endfor %} 
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>    
        </div>
        <input type="hidden" id="titulo" value= "{{configuracion_form.titulo}}" class="titulo_reporte">
        <input type="hidden" id="telefono" value = "{{configuracion_form.telefono}}" class="telefono_reporte">
        <input type="hidden" id="direccion" value = "{{configuracion_form.direccion}}" class="direccion_reporte">
        <input type="hidden" id="generador" value = "{{request.user.username}}" class="generador">
        <input type="hidden" id="imagen" value="" class="imagen">
        <input type="hidden" id="titu" value="Reporte de Reuniones" class="titu">
        <input type="hidden" id="sub-titu" value="" class="sub-titu">

    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'assets/js/lib/data-table/datatables.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/jszip.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/vfs_fonts.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.html5.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.print.min.js'%}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.colVis.min.js'%}"></script>
    <script src="{% static 'assets/js/init/datatables-init.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.0/b-colvis-1.6.0/b-html5-1.6.0/b-print-1.6.0/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.css"/>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.0/b-colvis-1.6.0/b-html5-1.6.0/b-print-1.6.0/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.js"></script>
    
                        
   
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: '{% url "sistema:obtenerLogo" %}',
                data: {
                },
                dataType: 'json',

                success: function (data) {

                if (data.is_taken) {
                    alert("Error al obtener datos del Instituto");
                } else {
                    logo = data.logo;
                    document.getElementById('imagen').value = logo;
                }
                }
            });
        });
    </script>
    
{% endblock body %}
