{% extends 'sistema/base_site.html' %}
{% load static %}
{% block body %}
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Rol</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="#">Rol</a></li>
                                    <li class="active">Listado de Roles</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if messages %}
        <div class="col-md-11">
                <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    </div>
                {% endfor %}
                </ul>
        </div>
        {% endif %}    

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-11">
                        <div class="card">
                            <div class="card-header" data-step="1" data-intro="Paso 1: Bienvenidos al tutorial para ver Roles" >
                                <strong class="card-title">Listado de Roles</strong>
                                <a href="JavaScript:Void(0);"><i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i></a>
                            </div>
                            <div class="card-body">
                                <table id="tablita" class="table table-striped table-bordered">
                                    <thead data-step="2" data-intro="Paso 2: Aqui puedes ver los roles y los permisos que actualmente existen, si quieres uno en especifo puedes buscarlo en 'Buscar'">
                                        <tr>
                                            <th data-step="3" data-intro="Paso 3: Puedes usar las flechitas de la derecha  para ordenar los registros">Nombre</th>
                                            <th>Permisos</th>
                                            <th>Estado</th>
                                            <th data-step="4" data-intro="Paso 4: Puedes Editar y desactivar Roles"> </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if roles %}
                                            {% for rol in roles %}
                                                <tr>
                                                    <td>{{rol.nombre}}</td>
                                                    <td>
                                                    {% for permiso in rol.permisos.all  %}
                                                        {{permiso.nombre}}<br>
                                                    {% endfor %}</td>
                                                    {% if rol.borrado %}
                                                        <td>Borrado</td>
                                                    {% else %}
                                                        <td>Activo</td>
                                                    {% endif %}
                                                    
                                                    <td> 
                                                        {% comment %} <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-eye"></i></button>                                                         {% endcomment %}
                                                        <a href="/sistema/editarRol/{{rol.id_rol}}" class="btn btn-outline-success btn-sm" ><i class="fa fa-edit"></i></a>
                                                        <a href="#myModal2"class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2{{rol.id_rol}}"><i class="fa fa-trash-o"></i></a>
                                                        <!-- inicio del modal-->
                                                            <div class="btn-group">
                                                                <div class="modal fade bs-example-modal-lg2{{rol.id_rol}}" id="myModal2{{rol.id_rol}}" tabindex="-1" role="dialog" aria-hidden="true">
                                                                    <div class="modal-dialog modal-lg">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title" id="myModalLabel{{rol.id_rol}}">Confirmacion de Eliminacion</h4>
                                                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <h4>Esta seguro de Eliminar la rol {{rol.nombre}} ?</h4>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                                <a href=" {% url 'sistema:eliminarRol' rol.id_rol%}" class="btn btn-primary" >Confirmar Eliminacion</a>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        <!--Fin del modal-->
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
        <input type="hidden" id="titulo" value= "{{configuracion_form.titulo}}" class="titulo_reporte">
        <input type="hidden" id="telefono" value = "{{configuracion_form.telefono}}" class="telefono_reporte">
        <input type="hidden" id="direccion" value = "{{configuracion_form.direccion}}" class="direccion_reporte">
        <input type="hidden" id="generador" value = "{{request.user.username}}" class="generador">
        <input type="hidden" id="imagen" value="" class="imagen">
        
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.0/b-colvis-1.6.0/b-html5-1.6.0/b-print-1.6.0/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.0/b-colvis-1.6.0/b-html5-1.6.0/b-print-1.6.0/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sl-1.3.1/datatables.min.js"></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                url: '{% url "sistema:obtenerLogo" %}',
                data: {
                },
                dataType: 'json',
    
                success: function (data) {
    
                if (data.is_taken) {
                    alert("Error al obtener datos del Instituto");
                } else {
                    logo = data.logo;
                    document.getElementById('imagen').value = logo;
                }
                }
            });
        });
    </script>    
{% endblock body %}