{% extends 'sistema/base_site.html'%}
{% load static %}
{% block titulo %}
    Configurar Mensajes
{% endblock titulo %}
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>

    <form method="POST">
        {% csrf_token %} 
        <div class="col-lg-11">
            <div class="card">
                <div class="card-header" data-step="1" data-intro="Paso 1: Bienvenidos al tutorial para configurar Mensajes">
                    <strong>Planilla de Configuracion de </strong> Mensajes
                    <a href="JavaScript:Void(0);"><i class="fa fa-question-circle" onclick="javascript:introJs().start();"></i></a>
                </div>
                <div class="card-body" data-step="2" data-intro="Paso 2: A continuacion puedes ver los tipos de mensajes y el texto actual que se envia, puedes cambiarlo si deseas " >
                    {% for mensaje in mensajes %}
                        {%if mensaje.tipo.id != 2%}
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{mensaje.tipo}}</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="tp" name="{{mensaje.tipo}}" value="{{mensaje}}" class="form-control"></div>
                            </div>
                        {%else%}
`                           <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">{{mensaje.tipo}}</label></div>
                                <div class="col-12 col-md-9"><input readonly type="text" id="tp" name="{{mensaje.tipo}}" value="{{mensaje}}" class="form-control"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label"> Especifique cada cuantas faltas quiere que se le notifique</label></div>
                                <div class="col-12 col-md-2"><input required type="number" min="1" max="100" id="x" name="x" value="{{x}}" class="form-control"></div>
                            </div>
                        {%endif%}
                    {% endfor %}
                    <div class="card">
                    <div align="right" class="card-body">
                        <button data-step="3" data-intro="Paso 3: Una vez que hayas terminado presiona 'Confirmar'" type="submit" class="btn btn-success btn-sm">Confirmar</button>
                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </form>
{% endblock body %}